<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0">
    <title>玖团</title>
    <!-- Bootstrap core CSS -->
	<link rel="icon" href="images/main/j_tuan.ico" type="image/x-ico"/>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/datepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/busData.css">
    <script src="javascripts/jquery-2.0.3.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/bootstrap-datepicker.js"></script>
	<script src="javascripts/bootstrap-datepicker.zh-CN.js"></script>
	<style>
	nav {
		margin: 20px 5px;
		border: 1px solid #ccc;
		box-shadow: 2px 2px 2px #eee;
		font-size: 20px;
		font-weight: bold;
	}
	nav div {
		display: inline-block;
		width: 100px;
	} 
	nav a {
		color: #000;
		display: block;
		padding: 10px;
	}
	.active {
		background-color: #FDF59A;
	}
	</style>
</head>
<body>
	<nav>
		<div><a href="busData">数据上传</a></div>
		<div><a href="bus_upData" class="active">数据修改</a></div>
		<div><a href="bus_order">查看订单</a></div>
		<div class="pull-right"><a href="sellerLogin">退出</a></div>
	</nav>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<th>商家</th>
				<th>套餐</th>
				<!-- <th>数量</th>
				<th>单价</th>
				<th>总价</th>
				<th>用户</th> -->
				<th>状态</th>
			</thead>	
			<tbody>
				<% objList.forEach(function(data, index){ %>
				<tr>
					<td class="resName"><%= data.resName %></td>
					<td class="pName"><%= data.projectDetail %></td>
					<td>
						<a href="busData?update=true" class="btn btn-primary" id="bus_upData">修改</a>
						<button class="btn btn-danger" id="bus_delete">删除</button>
					</td>
				</tr>
				<% }) %>
			</tbody>
			<tfoot>
				
			</tfoot>
		</table>
	</div>
   <script src='javascripts/busData.js'></script>
   <script>
   $('#bus_upData').click(function(){
   		var rname = $(this).parents('tr').find(".resName").html();
   		var pname = $(this).parents('tr').find(".pName").html();
   		console.log(rname+pname);
   });
   </script>
</body>
</html>

