<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.html %>
	<title>玖团-详情页</title>
	<link rel="stylesheet" href="/stylesheets/product_detail.css">
	<link rel="stylesheet" href="/stylesheets/buyStep.css">
	<script src="javascripts/jquery-2.0.3.min.js"></script>
	<script src="javascripts/jquery.cookie.js"></script>
</head>
<body>
	<!--公共头部start-->
	<% include commonHeader.html %>
	<!--公共头部end-->
	<div class="product_detail buyStep">
		<!--公共头部start-->
		<div class="buy-process-bar-container">
    		<ol class="buy-process-desc steps-desc">
        		<li class="step current" style="width:33.333333333333%">1. 提交订单</li>
        		<li class="step" style="width:33.333333333333%">2. 选择支付方式</li>
        		<li class="step" style="width:33.333333333333%">3. 购买成功</li>
    		</ol>
	    	<div class="progress">
	        	<div class="progress-bar"></div>
	    	</div>
		</div>
		<!--公共头部end-->

		<!--after submit order-->
		<div class="controls">
			<strong style="font-size: 20px;">支付方式</strong>
            <div>
            	<label class="radio-inline">
	            	<input type="radio" value="CMB" name="bank" checked="checked"> 
	            	<img src="/images/bank/zhaoshangyinhang.gif" style="display: inline;">
	           	</label>
	            <label class="radio-inline">
	            	<input type="radio" value="ICBCB2C" name="bank"> 
	            	<img src="/images/bank/zhongguogongshang.gif" style="display: inline;">
	            </label>
	            <label class="radio-inline">
	            	<input type="radio" value="CCB" name="bank"> 
	            	<img src="/images/bank/zhongguojianshe.gif" style="display: inline;">
	            </label>
	            <label class="radio-inline">
	            	<input type="radio" value="SPDB" name="bank"> 
	            	<img src="/images/bank/pufa.gif" style="display: inline;">
	            </label>
            </div>
            <div>
            	<label class="radio-inline">
	            	<input type="radio" value="ABC" name="bank"> 
	            	<img src="http://res.musikid.com/images/bank/zhongguononye.gif" style="display: inline;">
	            </label>
	            <label class="radio-inline">
	            	<input type="radio" value="CMBC" name="bank"> 
	            	<img src="/images/bank/zhongguominsheng.gif" style="display: inline;">
	            </label>
	            <label class="radio-inline">
	            	<input type="radio" value="COMM" name="bank"> 
	            	<img src="/images/bank/jiaotongyinhang.gif" style="display: inline;">
	            </label>
	            <label class="radio-inline">
	            	<input type="radio" value="BOCB2C" name="bank"> 
	            	<img src="/images/bank/zhongguoyinhang.gif" style="display: inline;">
	            </label>
            </div>
            <div>
            	<label class="radio-inline">
					<input type="radio" value="alipay" name="bank"> 
					<img title="使用支付宝支付" src="/images/bank/zhifubao.gif" style="display: inline;">
				</label>
				<label class="radio-inline">
					<input type="radio" value="weixin" name="bank"> 
					<img title="使用微信支付" src="/images/bank/weixin.gif" style="display: inline;">
				</label>
            </div>
            <div class="buy-btn-wrap clearfix">
				<a href="userCenter" class="btn btn-default buy-btn btn_order" id="paySure">确认付款</a>
			</div>
        </div>
	</div>
	<script>
	$(function(){
		//进度条
		$('.progress-bar').css('width','66.66%');
		//cookie 传值
		$("#pNumber").val($.cookie('pNumber'));
		//添加 减少 数量 总价相应改变
		var p = parseFloat($('#price').html());
		var n = parseInt($("#pNumber").val());
		$("#pNumber").val(n);
		$(".total").html(n*p);
		$(".sum_n").html(n*p);

		$("#add").click(function(){
			var p = parseFloat($('#price').html());
			var n = parseInt($("#pNumber").val());
			n +=1;
			$("#pNumber").val(n);
			$(".total").html(n*p);
			$(".sum_n").html(n*p);
		});
		$("#cut").click(function(){
			var p = parseFloat($('#price').html());
			var n =parseInt($("#pNumber").val());
			if(n > 1) {
				n -=1;
				$("#pNumber").val(n);
				$(".total").html(n*p);
				$(".sum_n").html(n*p);
			}
			
		});
		//确认订单 隐藏当前块 显示确认支付
		$('#subOrder').click(function(){
			$('.table-section').hide();
			$('.controls').show();
			$('.progress-bar').css('width','66.66%');
		});

		//数据交互
		$('#paySure').click(function(){
			alert('支付成功！');
			var pNumber = 1;
			// $.ajax({ 
			// 	url:'/login',
			// 	type:'post',
			// 	data: data,
			// 	success: function(data,status){ 
			// 		if(status == 'success'){ 
			// 			location.href = 'home';
			// 		}
			// 	},
			// 	error: function(data,status){ 
			// 		if(status == '401'){ 
			// 			//alert('用户名不存在');
			// 			location.href = 'login';
			// 		}
			// 		if(status == '404'){ 
			// 			//alert('密码错误');
			// 			location.href = 'login';
			// 		}else{
			// 			//alert('unknown error');
			// 			location.href = 'login';
			// 		}
			// 	}
			// });
		});

	});
	</script>
</body>
</html>