<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.html %>
	<title>玖团-详情页</title>
	<link rel="stylesheet" href="/stylesheets/product_detail.css">
	<link rel="stylesheet" href="/stylesheets/buyStep.css">
	<script src="javascripts/jquery-2.0.3.min.js"></script>
	<script src="javascripts/jquery.cookie.js"></script>
</head>
<body>
	<!--公共头部start-->
	<% include commonHeader.html %>
	<!--公共头部end-->
	<div class="product_detail buyStep">
		<!--公共头部start-->
		<div class="buy-process-bar-container">
    		<ol class="buy-process-desc steps-desc">
        		<li class="step current" style="width:33.333333333333%">1. 提交订单</li>
        		<li class="step" style="width:33.333333333333%">2. 选择支付方式</li>
        		<li class="step" style="width:33.333333333333%">3. 购买成功</li>
    		</ol>
	    	<div class="progress">
	        	<div class="progress-bar"></div>
	    	</div>
		</div>
		<!--公共头部end-->
		<% objList.forEach(function(data, index){ %>
		<div class="table-section">
    		<table class="buy-table">
        		<tbody>
        			<tr class="order-table-head-row">
			            <th class="package">项目</th>
			            <th class="price">单价</th>
			            <th class="amount">数量</th>
			            <th class="total_t">总价</th>
			        </tr>
	        		<tr>
	            		<td class="package">
                			<a href="product_detail?id=<%= data._id %>" target="_blank">
                    			<span id="resName"><%= data.resName %></span>:<span id="packageName"><%= data.packageName %></span>
               	 			</a>
            			</td>
			            <td class="price">
			                ¥<span id="price"><%= data.newPrice %></span>
			            </td>
            			<td class="amount">	
		                	<div class="add-btn-wrap">
								<div class="add-btn">
									<button id="cut">-</button>
									<input type="text" value="1" id="pNumber">
									<button id="add">+</button>
								</div>
							</div>
            			</td>
			            <td class="total-wrap">
			                ¥<span class="total">3.90</span>
			            </td>
        			</tr>
    			</tbody>
    		</table>
    		<div class="buy-btn-wrap clearfix">
    			<div class="sum">
    				<strong>应付金额</strong>：
                    <span class="money">
                        ¥<strong class="sum_n">3.90</strong>
                    </span>
    			</div>
				<a href="buyStep_2?id=<%= data._id %>" class="btn btn-default buy-btn btn_order"
				 id="subOrder">提交订单</a>
				 <!-- <div style="display: none;" id="_id"><%= data._id %></div> -->
			</div>
		</div>
		<% }) %>
	</div>
	<script>
	$(function(){
		//cookie 传值
		//alert($.cookie('pNumber'));
		$("#pNumber").val($.cookie('pNumber'));
		
		//添加 减少 数量 总价相应改变
		var p = parseFloat($('#price').html()).toFixed(1);
		var n = parseInt($("#pNumber").val());
		var sum = (p*n).toFixed(1);
		$("#pNumber").val(n);
		$(".total").html(sum);
		$(".sum_n").html(sum);

		$("#add").click(function(){
			var p = parseFloat($('#price').html()).toFixed(1);;
			var n = parseInt($("#pNumber").val());
			n +=1;
			var sum = (p*n).toFixed(1);
			$("#pNumber").val(n);
			$(".total").html(sum);
			$(".sum_n").html(sum);
		});
		$("#cut").click(function(){
			var p = parseFloat($('#price').html()).toFixed(1);;
			var n =parseInt($("#pNumber").val());
			var sum;
			if(n > 1) {
				n -=1;
				sum = (p*n).toFixed(1);
				$("#pNumber").val(n);
				$(".total").html(sum);
				$(".sum_n").html(sum);
			}
			
		});
		//确认订单 隐藏当前块 显示确认支付
		// $('#subOrder').click(function(){
		// 	$('.table-section').hide();
		// 	$('.controls').show();
		// 	$('.progress-bar').css('width','66.66%');
		// });

		//数据交互
		$('#subOrder').click(function(){
			//更新 订单数量
			var pn = $('#pNumber').val();       
        	var resName = $('#resName').html();
			var pd = $('#packageName').html();

			$.cookie('pNumber', pn, {path: '/'});  //存储cookie数据
			$.cookie('pName', pd, {path: '/'});  //存储cookie数据
			$.cookie('rName', resName, {path: '/'});  //存储cookie数据

			//alert('支付成功！');
			//var pNumber = $('#pNumber').val();
			//var str = window.location.search;
			//var id = str.substring((str).indexOf('=')+1);
			//var id = $('#_id').html();
			var date  = new Date();
			var id = date.getFullYear()+"/"+(date.getMonth()+1)+"/"+
					date.getDate()+'-'+date.getHours()+':'+date.getMinutes()+
					':'+date.getSeconds()+':'+date.getMilliseconds();

			//$.cookie('id', id, {path: '/'});  //存储cookie数据

			var name = $('#userName').html();
			//var resName = $('#resName').html();
			//var pd = $('#packageName').html();
			var price = parseFloat($('#price').html());
			//
			var data = {'id': id,'userName': name,'resName': resName,'projectDetail': pd,'price': price,'pn': pn,'status': 0};
			//alert(data.id);
			$(this).attr('href','buyStep_2?id='+id);
			$.ajax({ 
				url:'/buyStep_1',
				type:'post',
				data: data,
				success: function(data,status){ 
					if(status == 'success'){ 
						//location.href = 'buyStep_2';
					}
				},
				error: function(err,status){ 
					alert(status);
				}
			});

			// $.ajax({ 
			// 	url:'/buyStep_2',
			// 	type:'post',
			// 	data: {'id': id},
			// 	success: function(data,status){ 
			// 		if(status == 'success'){ 
			// 			//location.href = 'buyStep_2';
			// 		}
			// 	},
			// 	error: function(err,status){ 
			// 		alert(status);
			// 	}
			// });
		});

	});
	</script>
</body>
</html>