<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<% include header.html %>
	<title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">
	<link rel="stylesheet" href="/stylesheets/skitter.styles.css"/>
</head>
<body>
	<div id="#idol"></div>
	<div class="homePage">
		<div class="nav-wrap clearfix">
			<div class="places pull-left">
				<span>济南</span>
				<!-- <span>|</span>
				<a href="javascript:;" id="changeCity">切换城市</a> -->
			</div>
			<ul class="nav-list pull-right">
				<!-- <li><a href="javascript:;">登录</a></li>
				<li><a href="javascript:;">注册</a></li> -->
				<li><a id="login" href="/userCenter"><%= username %></a></li>
				<li><a id="reg" href="/logout">退出</a></li>
				<li><a id="center" href="userCenter?name=<%= username %>">用户中心</a></li>
				<li><a href="myCollection">我的收藏</a></li>
				<li><a href="javascript:;">帮助</a></li>
				<li><a href="userCenter?name=<%= username %>&status=1">我的订单</a></li>
				<!-- <li><a href="javascript:;">我的购物车()</a></li> -->
			</ul>
		</div>
		<div class="mHeader clearfix">
				<a href="#">
					<img class="pull-left" src="images/jiutuan.png" alt="logo">
				</a>
				<div class="pull-right">
					<form action="/search">
						<input type="text" placeholder="搜索商家" class="search-input" name="text">
						<button class="btn btn-default" id="search" type="submit">搜索</button>
					</form>
				</div>

		</div>
		<div class="mPart1 clearfix">
			<ul class="allClassify pull-left">
				<li>全部分类</li>
				<li class="type-part"><a href="/product_list/cate">美食</a></li>
				<li class="type-part"><a href="/product_list/movie">电影</a></li>
				<li class="type-part"><a href="/product_list/entertainment">休闲娱乐</a></li>
				<li class="type-part"><a href="/product_list/shopping">购物</a></li>
				<li class="type-part"><a href="/product_list/service">生活服务</a></li>
				<li class="type-part"><a href="/product_list/hotel">酒店</a></li>
				<li class="type-part"><a href="javascript:;">本地生活</a></li>
			</ul>
			<div class="slide-wrap pull-left">
				<ul class="slide-title clearfix">
					<li><a href="/home">首页</a></li>
					<li><a href="/product_list/movie">电影</a></li>
					<li><a href="/product_list/cate">美食</a></li>
					<li><a href="/product_list/shopping">购物</a></li>
					<li><a href="/product_list/grogshop">酒店</a></li>
					<!--<li><a href="/product_list/grogshop">酒店</a></li>
					 <li><a href="javascript:;">今日特惠</a></li>
					<li><a href="javascript:;">今日新单</a></li> -->
				</ul>
				<div class="slide-con">
					<div class="skitter swiper-container">
						<div class="box_skitter box_skitter_large skitter-content">
							<ul>
								<li>
									<a href="javascript:;">
										<img src="/images/shouye01.jpg" />
									</a>
								</li>
								<li>
									<a href="/product_detail?id=57171fdb5e4ca27c11a9be7e">
										<img src="/images/meishi/shouye02.jpg" />
									</a>
								</li>
								<li>
									<a href="/product_detail?id=571720fc5e4ca27c11a9be80">
										<img src="/images/meishi/shouye03.jpg" />
									</a>
								</li>
								<li>
									<a href="/product_detail?id=571720535e4ca27c11a9be7f">
										<img src="/images/movies/shouye04.jpg" />
									</a>
								</li>

							</ul>

						</div>
					</div>
					<div class="slide-footer clearfix">
						<div>
							<p class="title">热门搜索</p>
							<ul class="clearfix">
								<li><a href="/search?text=小吃快餐">小吃快餐</a></li>
								<li><a href="/search?text=自助餐">自助餐</a></li>
								<li><a href="/search?text=火锅">火锅</a></li>
								<li><a href="/search?text=景点门票">景点门票</a></li>
								<li><a href="/search?text=烧烤烤肉">烧烤烤肉</a></li>
								<li><a href="/search?text=KTV">KTV</a></li>
								<li><a href="/search?text=火锅">火锅</a></li>
								<li><a href="/search?text=甜点饮品">甜点饮品</a></li>
							</ul>
						</div>
						<div>
							<p class="title">全部区域</p>
							<ul class="clearfix">
								<li><a href="/search/area/历下区">历下区</a></li>
								<li><a href="/search/area/市中区">市中区</a></li>
								<li><a href="/search/area/历城区">历城区</a></li>
								<li><a href="/search/area/槐荫区">槐荫区</a></li>
								<li><a href="/search/area/天桥区">天桥区</a></li>
								<li><a href="/search/area/长清区">长清区</a></li>
								<li><a href="/search/area/章丘市">章丘市</a></li>
								<li><a href="/search/area/济阳县">济阳县</a></li>
								<li><a href="/search/area/平阴县">平阴县</a></li>
								<li><a href="/search/area/高新区">高新区</a></li>
								<li><a href="/search/area/商河县">商河县</a></li>
							</ul>
						</div>
						<div>
							<p class="title">热门商圈</p>
							<ul class="clearfix">
								<li><a href="/search/address/世贸国际广场">世茂国际广场</a></li>
								<li><a href="/search/address/恒隆广场">恒隆广场</a></li>
								<li><a href="/search/address/洪家楼">洪家楼</a></li>
								<li><a href="/search/address/大观园">大观园</a></li>
								<li><a href="/search/address/济大">济大</a></li>
								<li><a href="/search/address/西市场">西市场</a></li>
								<li><a href="/search/address/芙蓉街">芙蓉街</a></li>
								<li><a href="/search/address/青龙小区">青龙小区</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mPart clearfix">
			<div class="left-mPart pull-left">
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">美食</a>
						<div class="more pull-right">
							<a href="/product_list/cate">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "美食") {  %>
						<div class="tjCell">
							<a href="/product_detail?id=<%= data._id%>" class="mtjCell">
								<img src="images/meishi/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<!--<div class="pull-left"><span>4.5</span>分</div>-->
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>

				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">电影</a>
						<div class="more pull-right">
							<a href="/product_list/movie">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "电影" && data.sure == 1) {  %>
						<div class="tjCell">
							<a href="product_detail?id=<%= data._id%>" class="mtjCell">
								<img src="images/movies/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<!--<div class="pull-left"><span>4.5</span>分</div>-->
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">娱乐</a>
						<div class="more pull-right">
							<a href="/product_list/entertainment">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "娱乐" && data.sure == 1 ) {  %>
						<div class="tjCell">
							<a href="/product_detail?id=<%= data._id%>" class="mtjCell">
								<img src="images/yule/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<!--<div class="pull-left"><span>4.5</span>分</div>-->
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">酒店</a>
						<div class="more pull-right">
							<a href="/product_list/hotel">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "酒店" && data.sure == 1 ) {  %>
						<div class="tjCell">
							<a href="product_detail?id=<%= data._id%>" class="mtjCell">
								<img src="images/hotel/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<!--<div class="pull-left"><span>4.5</span>分</div>-->
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">购物</a>
						<div class="more pull-right">
							<a href="/product_list/shopping">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "购物" && data.sure == 1 ) {  %>
						<div class="tjCell">
							<a href="product_detail?id=<%= data._id%>" class="mtjCell">
								<img src="images/shopping/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<!--<div class="pull-left"><span>4.5</span>分</div>-->
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">生活</a>
						<div class="more pull-right">
							<a href="/product_list/service">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "服务" && data.sure == 1 ) {  %>
						<div class="tjCell">
							<a href="product_detail?id=<%= data._id%>" class="mtjCell">
								<img src="images/service/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<!--<div class="pull-left"><span>4.5</span>分</div>-->
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
			</div>
			<div class="right-mPart pull-right">
				<div class="mPartRightCell pull-right">
					<a class="rightCellTitle" href="javascript:;">热度排行榜</a>
					<ul class="clearfix">
					<li class="hot-type active" data-name="meishi">美食</li>
					<li class="hot-type" data-name="movie">电影</li>
					<li class="hot-type" data-name="recreation">娱乐</li>
					<li class="hot-type" data-name="shopping">购物</li>
					<li class="hot-type" data-name="live">生活</li>
					</ul>
					<div data-name="meishi" class="order show">
						<% for (var i = 0; i < meishiList.length; i++){%>
						<% if (i == 4) break;%>
						<a href="/product_detail?id=<%= meishiList[i]._id %>">
							<div class="rcContent clearfix">
								<img src="images/meishi/<%= meishiList[i].image %>" alt="">
								<div class="pull-right top-right">
									<div class="infor">
										<div><%= meishiList[i].resName %></div>
									</div>
									<div class="price">￥<span><%= meishiList[i].newPrice %></span></div>
								</div>
								<div class="topTag"><%= i+1 %></div>
							</div>
						</a>
						<% } %>
					</div>
					<div data-name="movie" class="order">
						<% for (var i = 0; i < movieList.length; i++){%>
						<% if (i == 4) break;%>
						<a href="/product_detail?id=<%= movieList[i]._id %>">
							<div class="rcContent clearfix">
								<img src="images/movies/<%= movieList[i].image %>" alt="">
								<div class="pull-right top-right">
									<div class="infor">
										<div><%= movieList[i].resName %></div>
									</div>
									<div class="price">￥<span><%= movieList[i].newPrice %></span></div>
								</div>
								<div class="topTag"><%= i+1 %></div>
							</div>
						</a>
						<% } %>
					</div>
					<div data-name="recreation" class="order">
						<% for (var i = 0; i < recreationList.length; i++){%>
						<% if (i == 4) break;%>
						<a href="/product_detail?id=<%= recreationList[i]._id %>">
							<div class="rcContent clearfix">
								<img src="images/yule/<%= recreationList[i].image %>" alt="">
								<div class="pull-right top-right">
									<div class="infor">
										<div><%= recreationList[i].resName %></div>
									</div>
									<div class="price">￥<span><%= recreationList[i].newPrice %></span></div>
								</div>
								<div class="topTag"><%= i+1 %></div>
							</div>
						</a>
						<% } %>
					</div>
					<div data-name="shopping" class="order">
						<% for (var i = 0; i < shoppingList.length; i++){%>
						<% if (i == 4) break;%>
						<a href="/product_detail?id=<%= shoppingList[i]._id %>">
							<div class="rcContent clearfix">
								<img src="images/shopping/<%= shoppingList[i].image %>" alt="">
								<div class="pull-right top-right">
									<div class="infor">
										<div><%= shoppingList[i].resName %></div>
									</div>
									<div class="price">￥<span><%= shoppingList[i].newPrice %></span></div>
								</div>
								<div class="topTag"><%= i+1 %></div>
							</div>
						</a>
						<% } %>
					</div>
					<div data-name="live" class="order">
						<% for (var i = 0; i < liveList.length; i++){%>
						<% if (i == 4) break;%>
						<a href="/product_detail?id=<%= liveList[i]._id %>">
							<div class="rcContent clearfix">
								<img src="images/service/<%= liveList[i].image %>" alt="">
								<div class="pull-right top-right">
									<div class="infor">
										<div><%= liveList[i].resName %></div>
									</div>
									<div class="price">￥<span><%= liveList[i].newPrice %></span></div>
								</div>
								<div class="topTag"><%= i+1 %></div>
							</div>
						</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<div class="footer clearfix">
			<div class="mPartLeftCell pull-left">
				<div>
					<p>用户帮助</p>
					<a href="javascript:;">答疑反馈</a>
					<a href="javascript:;">常见问题</a>
				</div>
				<div>
					<p>商务合作</p>
					<a href="javascript:;">友情链接</a>
					<a href="javascript:;">市场合作</a>
				</div>
				<div>
					<p>公司信息</p>
					<a href="javascript:;">关于玖团</a>
					<a href="javascript:;">加入我们</a>
					<a href="javascript:;">法律中心</a>
				</div>
				<div>
					<p>移动玖团</p>
					<a href="javascript:;">玖团网手机版</a>
					<a href="javascript:;">玖团网wap版</a>
				</div>
			</div>
			<div class="pull-right">全国统一客服电话：000000
			</div>
		</div>
		<p class="foot-p">@2016 JIUTUAN.COM XX备XXXXXX号</p>
	</div>
	<script>
		var btnHot = $("li.hot-type");
		btnHot.bind("click",function(){
			var $this = $(this);
			$this.addClass("active").siblings().removeClass("active");
			$("div[data-name='"+ $this.data("name")+"']").addClass("show").siblings().removeClass("show");
		});
	</script>
	<script>
		$('.box_skitter_large').skitter({
			theme: 'clean',
			animation: 'random',
			interval: 1500,
			numbers:false,                    //是否显示数字按钮
			label:false,                        //是否显示底部标题
			navigation:true,                //是否显示导航按钮,就是前后方向
			progressbar: false,             //是否显示进度条动画
			dots: false,                     //导航用点
			preview: false,                    //是否显示预览图
			controls:false,                    //是否显示控制按钮 play/pause选项
			controls_position:'leftTop',    //控制按钮位置：center, leftTop, rightTop, leftBottom, rightBottom
			show_randomly: true
		});
	</script>
	<script>
		$(function(){
			var user = $("#login");
			var regist = $("#reg");
			var center = $("#center");
			if(user.text() == "登录"){
				user.attr("href","/login");
				regist.html("注册");
				regist.attr("href","/register");
				center.attr("href","/login");
			}
			$("#search").bind("click",function(){
				var text = $(".search-input").val();
				var data = {'text': text};
				$.ajax({
					url: "/search",
					type: "post",
					data: data,
					success: function(data,status){
						if(status == 'success'){
							location.href = 'search';
						}
					}
				});
			});
		});
	</script>
</body>
</html>

