<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<% include header.html %>
	<title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/homePage.css">
</head>
<body>
	<div id="#idol"></div>
	<div class="homePage">
		<div class="nav-wrap clearfix">
			<div class="places pull-left">
				<span>济南</span>
				<span>|</span>
				<a href="javascript:;" id="changeCity">切换城市</a>
			</div>
			<ul class="nav-list pull-right">
				<!-- <li><a href="javascript:;">登录</a></li>
				<li><a href="javascript:;">注册</a></li> -->
				<li><a id="login" href="/userCenter"><%= username %></a></li>
				<li><a id="reg" href="/logout">退出</a></li>
				<li><a href="userCenter?name=<%= username %>">用户中心</a></li>
				<li><a href="javascript:;">收藏</a></li>
				<li><a href="javascript:;">帮助</a></li>
				<li><a href="userCenter?name=<%= username %>&status=1">我的订单</a></li>
				<li><a href="javascript:;">我的购物车()</a></li>
			</ul>
		</div>
		<div class="mHeader clearfix">
				<a href="#">
					<img class="pull-left" src="images/jiutuan.png" alt="logo">
				</a>
				<div class="pull-right">
					<form action="/search">
						<input type="text" placeholder="搜索商家" class="search-input" name="text">
						<button class="btn btn-default" id="search" type="submit">搜索</button>
					</form>
				</div>

		</div>
		<div class="mPart1 clearfix">
			<ul class="allClassify pull-left">
				<li>全部分类</li>
				<li><a href="/product_list/cate">美食</a></li>
				<li><a href="/product_list/movie">电影</a></li>
				<li><a href="/product_list/entertainment">休闲娱乐</a></li>
				<li><a href="/product_list/shopping">购物</a></li>
				<li><a href="/product_list/service">生活服务</a></li>
				<li><a href="/product_list/grogshop">酒店</a></li>
				<li><a href="javascript:;">本地生活</a></li>
			</ul>
			<div class="slide-wrap pull-left">
				<ul class="slide-title clearfix">
					<li><a href="javascript:;">首页</a></li>
					<li><a href="javascript:;">电影</a></li>
					<li><a href="javascript:;">酒店</a></li>
					<li><a href="javascript:;">今日特惠</a></li>
					<li><a href="javascript:;">今日新单</a></li>
				</ul>
				<div class="swiper-container" style="height: 205px;overflow:hidden;width: 100%;">
					<div class="swiper-wrap">
						<div class="swiper-slide pull-left" style='width:66.66%' >
							<img style="width: 100%;" src="images/slide1.jpg" alt="">
						</div>
						<div class="swiper-slide pull-left" style="width: 33.33%;">
							<img style="width: 100%;" src="images/slide2.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="slide-footer clearfix">
					<div>
						<p class="title">热门搜索</p>
						<ul class="clearfix">
							<li><a href="javascript:;">小吃快餐</a></li>
							<li><a href="javascript:;">自助餐</a></li>
							<li><a href="javascript:;">火锅</a></li>
							<li><a href="javascript:;">景点门票</a></li>
							<li><a href="javascript:;">烧烤烤肉</a></li>
							<li><a href="javascript:;">KTV</a></li>
							<li><a href="javascript:;">火锅</a></li>
							<li><a href="javascript:;">甜点饮品</a></li>
						</ul>
					</div>
					<div>
						<p class="title">全部区域</p>
						<ul>
							<li><a href="javascript:;">历下区</a></li>
							<li><a href="javascript:;">市中区</a></li>
							<li><a href="javascript:;">历城区</a></li>
							<li><a href="javascript:;">槐荫区</a></li>
							<li><a href="javascript:;">天桥区</a></li>
							<li><a href="javascript:;">长清区</a></li>
							<li><a href="javascript:;">章丘市</a></li>
							<li><a href="javascript:;">济阳县</a></li>
							<li><a href="javascript:;">平阴县</a></li>
							<li><a href="javascript:;">高新区</a></li>
							<li><a href="javascript:;">商河县</a></li>
						</ul>
					</div>
					<div>
						<p class="title">热门商圈</p>
						<ul>
							<li><a href="javascript:;">世茂国际广场</a></li>
							<li><a href="javascript:;">恒隆广场</a></li>
							<li><a href="javascript:;">洪家楼</a></li>
							<li><a href="javascript:;">大观园</a></li>
							<li><a href="javascript:;">济大/会展中心</a></li>
							<li><a href="javascript:;">西市场</a></li>
							<li><a href="javascript:;">芙蓉街</a></li>
							<li><a href="javascript:;">青龙小区</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="mPart clearfix">
			<div class="left-mPart pull-left">
				<!-- <div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">今日推荐</a>
						<div class="arrows pull-right">
							<a href="javascript:;"><</a>
							<a href="javascript:;">></a>
						</div>
					</div>
					<div class="clearfix">
						<div class="tjCell">
							<div class="mtjCell">
								<img src="images/tj1.jpg" alt="">
								<p>ssss</p>
								<p>100元代金券，可叠加</p>
								<div class="clearfix">
									<div class="cutForNewer pull-left">新用户立减<span>6</span></div>
									<div class="price pull-right">￥<span>89.9</span></div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span>100</span></div>
								</div>
							</div>
						</div>
						<div class="tjCell">
							<div class="mtjCell">
								<img src="images/tj1.jpg" alt="">
								<p>小城故事</p>
								<p>100元代金券，可叠加</p>
								<div class="clearfix">
									<div class="cutForNewer pull-left">新用户立减<span>6</span></div>
									<div class="price pull-right">￥<span>89.9</span></div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span>100</span></div>
								</div>
							</div>
						</div>
						<div class="tjCell">
							<div class="mtjCell">
								<img src="images/tj1.jpg" alt="">
								<p>小城故事</p>
								<p>100元代金券，可叠加</p>
								<div class="clearfix">
									<div class="cutForNewer pull-left">新用户立减<span>6</span></div>
									<div class="price pull-right">￥<span>89.9</span></div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span>100</span></div>
								</div>
							</div>
						</div>
						<div class="tjCell">
							<div class="mtjCell">
								<img src="images/tj1.jpg" alt="">
								<p>小城故事</p>
								<p>100元代金券，可叠加</p>
								<div class="clearfix">
									<div class="cutForNewer pull-left">新用户立减<span>6</span></div>
									<div class="price pull-right">￥<span>89.9</span></div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span>100</span></div>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">美食</a>
						<div class="more pull-right">
							<a href="/product_list/cate">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "美食" ) {  %>
						<div class="tjCell">
							<a href="/product_detail/cate?id=<%= data._id%>" class="mtjCell">
								<img src="images/meishi/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>

				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">电影</a>
						<div class="more pull-right">
							<a href="/product_list/movie">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "电影" ) {  %>
						<div class="tjCell">
							<a href="product_detail/movie?id=<%= data._id%>" class="mtjCell">
								<img src="images/movies/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">娱乐</a>
						<div class="more pull-right">
							<a href="/product_list/entertainment">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "娱乐" ) {  %>
						<div class="tjCell">
							<a href="/product_detail/entertainment?id=<%= data._id%>" class="mtjCell">
								<img src="images/yule/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">购物</a>
						<div class="more pull-right">
							<a href="/product_list/shopping">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "购物" ) {  %>
						<div class="tjCell">
							<a href="product_detail/shopping?id=<%= data._id%>" class="mtjCell">
								<img src="images/shopping/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="mPartLeftCell">
					<div class="cellTop clearfix">
						<a href="javascript:;" class="title pull-left">生活</a>
						<div class="more pull-right">
							<a href="/product_list/service">查看全部>></a>
						</div>
					</div>
					<div class="clearfix">
						<% objList.forEach(function(data, index){ %>
						<% if (data.type == "服务" ) {  %>
						<div class="tjCell">
							<a href="product_detail/service?id=<%= data._id%>" class="mtjCell">
								<img src="images/service/<%= data.image%>" alt="">
								<p class="info_h">【<%= data.area %>】<%= data.resName %></p>
								<p class="info_c"><%= data.info %></p>
								<div class="clearfix">
									<div class="price newPrice pull-left">
										￥<%= data.newPrice %>
									</div>
									<div class="price oldPrice pull-right">
										<s>￥<%= data.oldPrice %></s>
									</div>
								</div>
								<div class="mark-sold clearfix">
									<div class="pull-left"><span>4.5</span>分</div>
									<div class="pull-right">已售<span><%=data.soldNumber %></span></div>
								</div>
							</a>
						</div>
						<% } %>
						<% }) %>
					</div>
				</div>
			</div>
			<div class="right-mPart pull-right">
				<div class="mPartRightCell pull-right">
					<a class="rightCellTitle" href="javascript:;">热度排行榜</a>
					<ul class="clearfix">
					<li><a href="javascript:;">美食</a></li>
					<li><a href="javascript:;">电影</a></li>
					<li><a href="javascript:;">娱乐</a></li>
					<li><a href="javascript:;">购物</a></li>
					<li><a href="javascript:;">生活</a></li>
					</ul>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
				</div>
				<div class="mPartRightCell pull-right">
					<a class="rightCellTitle" href="javascript:;">猜你喜欢</a>
					<ul class="clearfix">
						<li><a href="javascript:;">美食</a></li>
						<li><a href="javascript:;">电影</a></li>
						<li><a href="javascript:;">娱乐</a></li>
						<li><a href="javascript:;">购物</a></li>
						<li><a href="javascript:;">生活</a></li>
					</ul>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
					<div class="rcContent clearfix">
						<img src="images/top1.jpg" alt="">
						<div class="pull-right">
							<div class="infor">
								<div>DQ冰雪皇后</div>
								<div>小杯暴风雪</div>
								<div>节假日通用</div>
							</div>
							<div class="price">￥<span>15.5</span></div>
						</div>
						<div class="topTag">1</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer clearfix">
			<div class="mPartLeftCell pull-left">
				<div>
					<p>用户帮助</p>
					<a href="javascript:;">答疑反馈</a>
					<a href="javascript:;">常见问题</a>
				</div>
				<div>
					<p>商务合作</p>
					<a href="javascript:;">友情链接</a>
					<a href="javascript:;">市场合作</a>
				</div>
				<div>
					<p>公司信息</p>
					<a href="javascript:;">关于玖团</a>
					<a href="javascript:;">加入我们</a>
					<a href="javascript:;">法律中心</a>
				</div>
				<div>
					<p>移动玖团</p>
					<a href="javascript:;">玖团网手机版</a>
					<a href="javascript:;">玖团网wap版</a>
				</div>
			</div>
			<div class="pull-right">全国统一客服电话：000000
			</div>
		</div>
		<p class="foot-p">@2016 JIUTUAN.COM XX备XXXXXX号</p>
	</div>
	<script>
		$(function(){
			var user = $("#login");
			var regist = $("#reg");
			if(user.text() == "登录"){
				user.attr("href","/login");
				regist.html("注册");
				regist.attr("href","/register");
			}
			$("#search").bind("click",function(){
				var text = $(".search-input").val();
				var data = {'text': text};
				$.ajax({
					url: "/search?text="+text+"",
					type: "post",
					data: data,
					success: function(data,status){
						if(status == 'success'){
							location.href = 'search';
						}
					}
				});
			});
		});
	</script>
	<!--<script>
	$.ajax({
				url: '/login',
				type: 'get',
				//data: data,
				success: function(data){
					console.log('data.idol'+data.idol);
					console.log('data'+data)
					$('#idol').html(data.idol);
				},
				error: function(err){
					alert('post home'+err);
				}
			});
	</script>-->
</body>
</html>

