<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.html %>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/product_detail.css">
	<script src="/javascripts/jquery-2.0.3.min.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/product_detail.js"></script>
	<script src="/javascripts/jquery.cookie.js"></script>
</head>
<body>
	<% cobjList.forEach(function(data,index){ %>
	<div class="collectId" style="display: none;"><%= data.id %></div>
	<% }) %>
	<% objList.forEach(function(data, index){ %>
	<div class="product_detail">
		<!--公共头部start-->
		<% include commonHeader.html %>
		<!--公共头部end-->
		<div class="cell-wrap">
			<div class="cell">
				<div>
					<p class="resName">【<%= data.resName %>】</p>
					<p class="info"><%= data.info %></p>
				</div>
				<div class="clearfix">
					<div class="img-wrap">
						<div id="myCarousel" class="carousel slide">
						   	<!-- 轮播（Carousel）指标 -->
						   	<ol class="carousel-indicators">
						      	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						      	<li data-target="#myCarousel" data-slide-to="1"></li>
						      	<li data-target="#myCarousel" data-slide-to="2"></li>
						      	<li data-target="#myCarousel" data-slide-to="3"></li>
						   	</ol>   
						   	<!-- 轮播（Carousel）项目 -->
						   	<div class="carousel-inner">
						   		<% if (data.type == "美食") {%>
						      	<div class="item active">
						         	<img src="/images/meishi/<%= data.image %>" alt="First slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/meishi/<%= data.inimage1 %>" alt="Second slide">
						     	 </div>
						      	<div class="item">
						         	<img src="/images/meishi/<%= data.inimage2 %>" alt="Third slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/meishi/<%= data.inimage3 %>" alt="4 slide">
						      	</div>
						      	<% } %>
						      	<% if (data.type == "电影") {%>
						      	<div class="item active">
						         	<img src="/images/movies/<%= data.image %>" alt="First slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/movies/<%= data.inimage1 %>" alt="Second slide">
						     	 </div>
						      	<div class="item">
						         	<img src="/images/movies/<%= data.inimage2 %>" alt="Third slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/movies/<%= data.inimage3 %>" alt="4 slide">
						      	</div>
						      	<% } %>
						      	<% if (data.type == "服务") {%>
						      	<div class="item active">
						         	<img src="/images/service/<%= data.image %>" alt="First slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/service/<%= data.inimage1 %>" alt="Second slide">
						     	 </div>
						      	<div class="item">
						         	<img src="/images/service/<%= data.inimage2 %>" alt="Third slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/service/<%= data.inimage3 %>" alt="4 slide">
						      	</div>
						      	<% } %>
						      	<% if (data.type == "酒店") {%>
						      	<div class="item active">
						         	<img src="/images/hotel/<%= data.image %>" alt="First slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/hotel/<%= data.inimage1 %>" alt="Second slide">
						     	 </div>
						      	<div class="item">
						         	<img src="/images/hotel/<%= data.inimage2 %>" alt="Third slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/hotel/<%= data.inimage3 %>" alt="4 slide">
						      	</div>
						      	<% } %>
						      	<% if (data.type == "购物") {%>
						      	<div class="item active">
						         	<img src="/images/shopping/<%= data.image %>" alt="First slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/shopping/<%= data.inimage1 %>" alt="Second slide">
						     	 </div>
						      	<div class="item">
						         	<img src="/images/shopping/<%= data.inimage2 %>" alt="Third slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/shopping/<%= data.inimage3 %>" alt="4 slide">
						      	</div>
						      	<% } %>
						      	<% if (data.type == "娱乐") {%>
						      	<div class="item active">
						         	<img src="/images/yule/<%= data.image %>" alt="First slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/yule/<%= data.inimage1 %>" alt="Second slide">
						     	 </div>
						      	<div class="item">
						         	<img src="/images/yule/<%= data.inimage2 %>" alt="Third slide">
						      	</div>
						      	<div class="item">
						         	<img src="/images/yule/<%= data.inimage3 %>" alt="4 slide">
						      	</div>
						      	<% } %>
						   	</div>
						   	<!-- 轮播（Carousel）导航 -->
						   	<a class="carousel-control left" href="#myCarousel" 
						      data-slide="prev">&lsaquo;</a>
						   	<a class="carousel-control right" href="#myCarousel" 
						      data-slide="next">&rsaquo;</a>
						</div> 
					</div>
					<div class="h-info">
						<div class="prices clearfix">
							<div class="pull-left">
								<span class="tagName">团购价</span>
								<div class="newPrice" style="display:inline-block;">
									￥<span id="newPrice">
										<%= data.newPrice %>
									</span>	
								</div>
							</div>
							<div class="pull-left">
								<span class="tagName">
									<s>门店价
										￥<%= data.oldPrice %>
									</s>
								</span>
							</div>
						</div>
						<div class="clearfix backInfo">
							<div>已有<span><%= data.soldNumber %></span>人购买</div>
							<div class="star">
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingmian"></span>
								<span>4</span>分
							</div>
							<div><span><%= dobjList.length %></span>条评论</div>
						</div>
						<div class="date_info">
							<span class="tagName">有效期</span>
							<span class="tagCon"><%= data.endDate %></span>
							<% if (data.holiday == "true") { %>
							<span class="colorF">周末、法定节假日通用 </span>
							<% }%>
							<% if (data.holiday == "false") { %>
							<span class="colorF">周末、法定节假日不可用用 </span>
							<% }%>
						</div>
						<div class="clearfix add-btn-wrap">
							<span class="pull-left tagName">数量</span>
							<div class="pull-left add-btn">
								<button id="cut">-</button>
								<input type="text" value="1" id="pNumber">
								<button id="add">+</button>
							</div>
						</div>
						<div class="buy-btn-wrap clearfix">
							<a href="/buyStep_1?id=<%= data._id %>" class="btn btn-default buy-btn" id="toPay">立即购买</a>
							<button id="shopCar" title="加入购物车" data-toggle="modal" data-target="#myModal">
								<span class="iconfont icon-gouwuche"></span>
							</button>
							<!-- <a href="shopCar" class="add_shopCar" id="shopCar" title="加入购物车">
								<span class="iconfont icon-gouwuche"></span>
							</a> -->
							<a href="javascript:;" class="collect-info" id="collection">
								收藏
								<span class="iconfont icon-weishoucang"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cell-wrap clearfix">
			<div class="cell">
				<div class="left-part">
					<!--<div class="left-cell-info">
						<p>本店其他套餐</p>
						 <a class="otherPackage-info clearfix">
							<div>￥<span>200</span></div>
							<div>适合<span>3-4</span>人用餐，节假日通用，提供停车位</div>
							<div><span>3</span>人已购买</div>
						</a>
						<a class="otherPackage-info clearfix">
							<div>￥<span>200</span></div>
							<div>适合<span>3-4</span>人用餐，节假日通用，提供停车位</div>
							<div><span>3</span>人已购买</div>
						</a>
						<a class="otherPackage-info clearfix">
							<div>￥<span>200</span></div>
							<div>适合<span>3-4</span>人用餐，节假日通用，提供停车位</div>
							<div><span>3</span>人已购买</div>
						</a> 
					</div>-->
					
					<div class="left-cell-info">
						<h4>商品评价</h4>
						<div class="pj clearfix">
							<div class="star">
								<span id="level">0</span>分
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingmian"></span>
							</div>
							<!-- <div>满意率<span>93%</span></div> -->
							<!-- <div class="satisfaction-rate">
								<a href="javascript:;">查看全部评论</a>
							</div> -->
						</div>
						<div class="pj-lines flex">
							<div class="pjl-cell">此团购有<span><%= dobjList.length %></span>人评价</div>
							<div class="pjl-cell lines" style="border-right: 0;">
								<div class="line-wrap clearfix">
									<div>好评</div>
									<div class="pj-line good level1-line" style="width: 0"></div>
									<div><span class="p-level1">0</span>%</div>
								</div>
								<div class="line-wrap clearfix">
									<div>中评</div>
									<div class="pj-line good level2-line" style="width: 0"></div>
									<div><span class="p-level2">0</span>%</div>
								</div>
								<div class="line-wrap clearfix">
									<div>差评</div>
									<div class="pj-line good level3-line" style="width: 0"></div>
									<div><span class="p-level3">0</span>%</div>
								</div>
							</div>
							
						</div>
						
						<div>
							<div class="pj-list">
								<div>
									全部(<span><%= dobjList.length %></span>)
								</div>
								<div>
									好评(<span class="level1">0</span>)
								</div>
								<div>
									中评(<span class="level2">0</span>)
								</div>
								<div>
									差评(<span class="level3">0</span>)
								</div>
							</div>
							<% dobjList.forEach(function(data,index) { %>
							<div class="pj-detail">
								<div>
									<img src="" alt="">
								</div>
								<div>
									<p><%= data.id %></p>
									<p><%= data.text %></p>
								</div>
								<div class="star">
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingmian"></span>
									<span><%= data.star %></span>分
								</div>
							</div>
							<% }) %>
							
						</div>
						<ul>
							<li>1</li>
							<li>2</li>
							<li>下一页</li>
						</ul>
					</div>
					
					<div class="left-cell-info">
						<h3>商家位置</h3>
						<ul>
							<li>评价：<%= dobjList.length %>人评价</li>
							<li>地址：<%= data.address %></li>
							<li>电话：<%= data.phoneNum %></li>
						</ul>
					</div>
					<div class="left-cell-info">
						<h3>购买须知</h3>
						<dl>
							<dt>有效期</dt>
							<dd>
								<%= data.startDate %> 至 <%= data.endDate %>
								<% if(data.holiday == "true") { %>
								（周末、法定节假日通用）
								<% } else if(data.holiday == "false") { %>
								（周末、法定节假日不可用）
								<% } %>
							</dd>
							<dt>使用时间</dt>
							<dd>10:00-22:00,部分店铺看实际营业时间</dd>
							<dt>预约提醒</dt>
							<dd>
								<% if(data.makeAppointment == "true") { %>
								需要预约
								<% } else if(data.makeAppointment == 'false') { %>
								无需预约，消费高峰时可能需要等位
								<% } %>
							</dd>
							<dt>限购限用提醒</dt>
							<dd>
								<% if(data.mealSize == '单人') { %>
								每张美团券建议1人使用
								<% } %>
								<% if(data.mealSize == '双人') { %>
								每张美团券建议2人使用
								<% } %>
								<% if(data.mealSize == '3-4人') { %>
								每张美团券建议3-4人使用
								<% } %>
								<% if(data.mealSize == '5-6人') { %>
								每张美团券建议5-6人使用
								<% } %>
								<% if(data.mealSize == '7-8人') { %>
								每张美团券建议7-8人使用
								<% } %>
								<% if(data.mealSize == '9-10人') { %>
								每张美团券建议9-10人使用
								<% } %>
								<% if(data.mealSize == '10人以上') { %>
								每张美团券建议10人以上使用
								<% } %>
								<% if(data.mealSize == '其他') { %>
								无建议
								<% } %>
							</dd>
							<dt>包间</dt>
							<dd>
								<% if(data.room == "true") { %>
								店内有包间
								<% } else if(data.room == 'false') { %>
								店内无包间
								<% } %>
							</dd>
							<dt>堂食外带</dt>
							<dd>
								<% if(data.packFood == "true") { %>
								堂食外带均可，可免费打包
								<% } else if(data.packFood == 'false') { %>
								堂食不可外带
								<% } %>
							</dd>
							<dt>温馨提示</dt>
							<dd>
								<% if(data.wifi == "true") { %>
								提供免费WiFi
								<% } else if(data.wifi == 'false') { %>
								无WiFi
								<% } %>
							</dd>
						</dl>
					</div>
					<div class="left-cell-info">
						<h3>本单信息</h3>
						<ul>
							<li><%= data.packageName %></li>
						</ul>
					</div>
					<div class="left-cell-info">
						<p>套餐内容</p>
						<table>
							
						</table>
					</div>
					<div class="left-cell-info">
						<h3>消费提示</h3>
						<table>
							
						</table>
					</div>
					<div class="left-cell-info">
						<h3>商品详情</h3>
						<table>
							<span class="packageName"><%= data.packageName %></span>
						</table>
					</div>
				</div>
				<div class="right-part"></div>
			</div>
		</div>
	</div>

	<!--弹出层-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
		      	<div class="modal-header" style="border: 0;">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        		<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body clearfix" style="border: 0;">
					<div class="info-success pull-left">
						<h5>成功加入购物车</h5>
						<p>购物车内共有<strong>2</strong>种商品</p>
        			</div>
					<div class="operate pull-right">
						<a href="javascript:void(0);" class="m-btn continue" data-dismiss="modal">«继续浏览</a>
						<a href="/shopCar?id=<%= data._id %>" class="m-btn toCar">去购物车结算»</a>
					</div>
				</div>
		      	<div class="modal-footer" style="border: 0;">
		      	</div>
	    	</div>
  		</div>
	</div>
	<% })%>
	<script>
	$(function(){
		//立即购买
		$("#toPay").click(function(){
			var pn = $('#pNumber').val();       
        	$.cookie('pNumber', pn, {path: '/'});  //存储cookie数据
        	//alert($.cookie('pNumber'));
		});

		//加入购物车
		// $('#shopCar').click(function(){
		// 	location.href = 'shopCar';
		// });

		
	});
	</script>
</body>
</html>