<!doctype html>
<html lang="en">
<head>
    <% include header.html %>
    <meta charset="utf-8"/>
    <title>玖团-列表页</title>
    <link rel="stylesheet" href="/stylesheets/product_list.css"/>
</head>
<body>
    <div class="product-list">
        <!--公共头部start-->
        <div class="comm-head">
            <div class="nav-wrap clearfix">
                <div class="nav-content">
                    <div class="places pull-left">
                        <span>济南</span>
                        <span>|</span>
                        <a href="javascript:;">切换城市</a>
                    </div>
                    <ul class="nav-list pull-right">
                        <li><a href="javascript:;">登录</a></li>
                        <li><a href="javascript:;">注册</a></li>
                        <li><a href="javascript:;">用户中心</a></li>
                        <li><a href="javascript:;">收藏</a></li>
                        <li><a href="javascript:;">帮助</a></li>
                        <li><a href="javascript:;">手机玖团</a></li>
                    </ul>
                </div>
            </div>
            <div class="mHeader clearfix">
                <img class="pull-left" src="/images/jiutuan.png" alt="logo">
                <div class="pull-right">
                    <input type="text" placeholder="搜索商家" class="search-input">
                    <button class="btn btn-default">搜索</button>
                </div>
            </div>
            <div class="navGroup clearfix">
                <div class="allClassify1">
                    <a href="javascript:;">全部分类</a>
                </div>
                <ul class="slide-title clearfix">
                    <li><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">电影</a></li>
                    <li><a href="javascript:;">酒店</a></li>
                    <li><a href="javascript:;">今日特惠</a></li>
                    <li><a href="javascript:;">今日新单</a></li>
                </ul>
            </div>
        </div>
        <!--公共头部end-->
        <div class="field">
            <div class="item">
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="item-cell">
                        <img src="/images/oulebao.jpg" alt=""/>
                        <h3>欧乐宝</h3>
                        <p class="coupon">100元代金券，可叠加</p>
                        <div class="fee">
                            <span class="coupon-new">新用户立减10元</span>
                            <span class="money">¥9999</span>
                        </div>
                        <div class="other">
                            <span class="grade">4.5分</span>
                            <span class="sale-num">已售9999</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- 公共footer start-->
        <div class="comm-footer">
            <div class="others">
                <ul>
                    <li>
                        <h4>用户帮助</h4>
                        <a>答疑反馈</a>
                        <a>常见问题</a>
                    </li>
                    <li>
                        <h4>商务合作</h4>
                        <a>友情链接</a>
                        <a>市场合作</a>
                    </li>
                    <li>
                        <h4>公司信息</h4>
                        <a>关于玖团</a>
                        <a>加入我们</a>
                        <a>法律中心</a>
                    </li>
                    <li>
                        <h4>移动玖团</h4>
                        <a>玖团网手机版</a>
                        <a>玖团网wap版</a>
                    </li>
                    <li>
                        <h4>全国统一客服电话</h4>
                        <a>XXXXXXXX-XXX</a>
                    </li>
                </ul>
            </div>
            <p>
                <span>&copy;2016</span>
                <span>JTUAN.COM</span>
                <span>XXX备XXXXXXX号</span>
            </p>
        </div>
        <!--公共footer end-->
    </div>
</body>
</html>