<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.html %>
	<title>玖团-详情页</title>
	<link rel="stylesheet" href="/stylesheets/product_detail.css">
	<script src="javascripts/jquery-2.0.3.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
	<script src="javascripts/product_detail.js"></script>
	<script src="javascripts/jquery.cookie.js"></script>
</head>
<body>
	<% objList.forEach(function(data, index){ %>
	<div class="product_detail">
		<!--公共头部start-->
		<% include commonHeader.html %>
		<!--公共头部end-->
		<div class="cell-wrap">
			<div class="cell">
				<div>
					<p class="resName">【<%= data.resName %>】</p>
					<p class="info"><%= data.info %></p>
				</div>
				<div class="clearfix">
					<div class="img-wrap">
						<% if (data.type == "美食") {%>
						<img src="/images/meishi/<%= data.image %>" alt="">
						<% } %>

						<% if (data.type == "电影") {%>
						<img src="/images/movies/<%= data.image %>" alt="">
						<% } %>

						<% if (data.type == "酒店") {%>
						<img src="/images/hotel/<%= data.image %>" alt="">
						<% } %>

						<% if (data.type == "服务") {%>
						<img src="/images/service/<%= data.image %>" alt="">
						<% } %>

						<% if (data.type == "购物") {%>
						<img src="/images/shopping/<%= data.image %>" alt="">
						<% } %>

						<% if (data.type == "娱乐") {%>
						<img src="/images/yule/<%= data.image %>" alt="">
						<% } %>
					</div>
					<div class="h-info">
						<div class="prices clearfix">
							<div class="pull-left">
								<span class="tagName">团购价</span>
								<span class="newPrice">
									￥<%= data.newPrice %>
								</span>
							</div>
							<div class="pull-left">
								<span class="tagName">
									<s>门店价
										￥<%= data.oldPrice %>
									</s>
								</span>
							</div>
						</div>
						<div class="clearfix backInfo">
							<div>已有<span>485</span>人购买</div>
							<div class="star">
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingmian"></span>
								<span>4</span>分
							</div>
							<div><span>345</span>条评论</div>
						</div>
						<div class="date_info">
							<span class="tagName">有效期</span>
							<span class="tagCon"><%= data.endDate %></span>
							<% if (data.holiday == "true") { %>
							<span class="colorF">周末、法定节假日通用 </span>
							<% }%>
							<% if (data.holiday == "false") { %>
							<span class="colorF">周末、法定节假日不可用用 </span>
							<% }%>
						</div>
						<div class="clearfix add-btn-wrap">
							<span class="pull-left tagName">数量</span>
							<div class="pull-left add-btn">
								<button id="cut">-</button>
								<input type="text" value="1" id="pNumber">
								<button id="add">+</button>
							</div>
						</div>
						<div class="buy-btn-wrap clearfix">
							<a href="buyStep_1?id=<%= data._id %>" class="btn btn-default buy-btn" id="toPay">立即购买</a>
							<button id="shopCar" title="加入购物车" data-toggle="modal" data-target="#myModal">
								<span class="iconfont icon-gouwuche"></span>
							</button>
							<!-- <a href="shopCar" class="add_shopCar" id="shopCar" title="加入购物车">
								<span class="iconfont icon-gouwuche"></span>
							</a> -->
							<a href="collection" class="collect-info">
								收藏
								<span class="iconfont icon-weishoucang"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cell-wrap clearfix">
			<div class="cell">
				<div class="left-part">
					<div class="left-cell-info">
						<p>本店其他套餐</p>
						<a class="otherPackage-info clearfix">
							<div>￥<span>200</span></div>
							<div>适合<span>3-4</span>人用餐，节假日通用，提供停车位</div>
							<div><span>3</span>人已购买</div>
						</a>
						<a class="otherPackage-info clearfix">
							<div>￥<span>200</span></div>
							<div>适合<span>3-4</span>人用餐，节假日通用，提供停车位</div>
							<div><span>3</span>人已购买</div>
						</a>
						<a class="otherPackage-info clearfix">
							<div>￥<span>200</span></div>
							<div>适合<span>3-4</span>人用餐，节假日通用，提供停车位</div>
							<div><span>3</span>人已购买</div>
						</a>
					</div>
					<div class="left-cell-info">
						<p>商品评价</p>
						<div class="pj clearfix">
							<div class="star">
								<span>4</span>分
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingshixin"></span>
								<span class="iconfont icon-wuxingmian"></span>
							</div>
							<!-- <div>满意率<span>93%</span></div> -->
							<div class="satisfaction-rate">
								<a href="javascript:;">查看全部评论</a>
							</div>
						</div>
						<div class="pj-lines flex">
							<div class="pjl-cell">此团购有<span>43</span>人评价</div>
							<div class="pjl-cell lines">
								<div class="line-wrap clearfix">
									<div>好评</div>
									<div class="pj-line good"></div>
									<div><span>40</span>条</div>
								</div>
								<div class="line-wrap clearfix">
									<div>中评</div>
									<div class="pj-line good"></div>
									<div><span>40</span>条</div>
								</div>
								<div class="line-wrap clearfix">
									<div>差评</div>
									<div class="pj-line good"></div>
									<div><span>40</span>条</div>
								</div>
							</div>
							<div class="pjl-cell">
								<a href="javascript:;" class="btn-pj">我要评价</a>
							</div>
						</div>
						<div class="all-say-wrap">
							<p>大家都在说</p>
							<div class="all-say clearfix">
								<div>环境还行（<span>1</span>）</div>
								<div>口味还行（<span>1</span>）</div>
								<div>位置不好找（<span>1</span>）</div>
							</div>
						</div>
						<div>
							<div class="pj-list">
								<div>
									全部(<span>1</span>)
								</div>
								<div>
									好评(<span>1</span>)
								</div>
								<div>
									中评(<span>1</span>)
								</div>
								<div>
									差评(<span>1</span>)
								</div>
							</div>
							<div class="pj-detail">
								<div>
									<img src="" alt="">
								</div>
								<div>
									<p>2016.03.02  14:00:00</p>
									<p>啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
								<div class="star">
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingmian"></span>
									<span>4</span>分
								</div>
							</div>
							<div class="pj-detail">
								<div>
									<img src="" alt="">
								</div>
								<div>
									<p>2016.03.02  14:00:00</p>
									<p>啊啊啊啊啊啊啊啊啊啊啊</p>
								</div>
								<div class="star">
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingshixin"></span>
									<span class="iconfont icon-wuxingmian"></span>
									<span>4</span>分
								</div>
							</div>
						</div>
						<ul>
							<li>1</li>
							<li>2</li>
							<li>下一页</li>
						</ul>
					</div>
					<div class="left-cell-info">
						<p>本单信息</p>
						<div>
							<p>店面详情</p>
							<div></div>
						</div>
					</div>
					<div class="left-cell-info">
						<p>套餐内容</p>
						<table>
							
						</table>
					</div>
					<div class="left-cell-info">
						<p>消费提示</p>
						<table>
							
						</table>
					</div>
					<div class="left-cell-info">
						<p>商品详情</p>
						<table>
							
						</table>
					</div>
				</div>
				<div class="right-part"></div>
			</div>
		</div>
	</div>

	<!--弹出层-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
		      	<div class="modal-header" style="border: 0;">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        		<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body clearfix" style="border: 0;">
					<div class="info-success pull-left">
						<h5>成功加入购物车</h5>
						<p>购物车内共有<strong>2</strong>种商品</p>
        			</div>
					<div class="operate pull-right">
						<a href="javascript:void(0);" class="m-btn continue" data-dismiss="modal">«继续浏览</a>
						<a href="/shopCar?id=<%= data._id %>" class="m-btn toCar">去购物车结算»</a>
					</div>
				</div>
		      	<div class="modal-footer" style="border: 0;">
		      	</div>
	    	</div>
  		</div>
	</div>
	<% })%>
	<script>
	$(function(){
		//立即购买
		$("#toPay").click(function(){
			var pn = $('#pNumber').val();       
        	$.cookie('pNumber', pn);  //存储cookie数据
		});

		//加入购物车
		// $('#shopCar').click(function(){
		// 	location.href = 'shopCar';
		// });
	});
	</script>
</body>
</html>