<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>玖团</title>
	<link rel="icon" href="images/main/j_tuan.ico" type="image/x-ico"/>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/register.css">
	<script src="javascripts/jquery-2.0.3.min.js"></script>
</head>
<body>
	<div class="register">
		<p class="pageTitle">玖团</p>
		<form action="/register" method="post" class="form-horizontal" id="registerForm">
			<div class="tag clearfix">
				<div class="tag-active" id="tag-regist">注册</div>
				<div id="tag-login">登录</div>
			</div>
			<div class="input-block">
				<label for="userName">用户名</label>
				<input type="text" class="allBorder0" id="userName" name="user[name]">
			</div>
			<div class="input-block">
				<label for="phoneNum">手机号</label>
				<input type="text" class="allBorder0" id="phoneNum">
			</div>
			<div class="input-block">
				<label for="password">密码</label>
				<input type="password" class="allBorder0" id="password" name="user[password]">
			</div>
			<div class="input-block getCheckNum">
				<label for="checkNum">验证码</label>
				<input type="text" class="allBorder0" id="checkNum">
				<button class="btn btn-default">获取验证码</button>
			</div>
		</form>
	</div>
</body>
<script>
	$('.tag').find('div').each(function(){
		$(this).click(function(){
			var idName = $(this).attr('id');
			if(idName == 'tag-login'){
				// $('.tag div').css('border-top-left-radius','0');
				// $('.tag div').css('border-top-right-radius','10px');
				window.location.href = 'login';
			}else {
				$('.tag div').css('border-top-right-radius','0');
				$('.tag div').css('border-top-left-radius','10px');
				// $('#registerForm').show();
				// $('#loginForm').hide();
			}
			$(this).parent().find('div').removeClass('tag-active');
			$(this).addClass('tag-active');
		})
	})
</script>
</html> -->

<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/register.css">
	<script src="javascripts/jquery-2.0.3.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
	<style type="text/css">
	.m15{ margin: 15px;}
 	.tc{ text-align: center;font-size: 18px;font-weight: 600;}
	</style>
</head>
<body screen_capture_injected="true">
	<div class="container">
	<%- message %>
		<div>
			<a href="register" id="user">用户</a>
			<a href="sellerRegister" id="buser">商家</a>
		</div>

		<form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" onsubmit="return false" id='bregisterForm'>
			<fieldset>
				<legend></legend>
				<div class="panel panel-default">
				<div class="panel-heading">
					<p class="tc">商家注册</p>
				</div>
				<div class="panel-body m15">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
						</span>
						<input type="text" class="form-control" id="busername" name="busername" placeholder="请输入用户名" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="text" class="form-control" id="bpassword" name="bpassword" placeholder="请输入密码" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="text" class="form-control" id="bpassword1" name="bpassword1" placeholder="请再次输入密码" required>
					</div>
				</div>
				<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" id="bregister1">注册</button>
				</div>
				<div class="form-group">
						<a class="btn btn-default" href="sellerLogin">登录</a>
				</div>
				</div>
				</div>
			</fieldset>
		</form>
	</div>

	<script type="text/javascript">
	$(function(){ 
		// $(".login1").click(function(){ 
		// 	location.href = 'sellerLogin';
		// });
		//商家
		$("#bregister1").click(function(){ 
			var username = $("#busername").val();
			var password = $("#bpassword").val();
			var password1 = $("#bpassword1").val();
			if(password !== password1){ 
				$("#bpassword").css("border","1px solid red");
				$("#bpassword1").css("border","1px solid red");
			}else if(password === password1){
				var data = {"uname":username,"upwd":password};
				$.ajax({ 
					url: '/sellerRegister',
					type: 'post',
					data: data,
					success: function(data,status){ 
						if(status == 'success'){ 
							location.href = 'sellerLogin';
						}
					},
					error: function(data,err){ 
							location.href = 'sellerRegister';
					}
				}); 
			}
		});
	});
</script>
</body>
</head>
</html>
