<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.html %>
	<title>玖团-详情页</title>
	<link rel="stylesheet" href="/stylesheets/product_detail.css">
	<link rel="stylesheet" href="/stylesheets/userCenter.css">
	<script src="javascripts/jquery-2.0.3.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
	<script src="javascripts/jquery.cookie.js"></script>
</head>
<body>
	<!--公共头部start-->
	<% include commonHeader.html %>
	<!--公共头部end-->
	<div class="userCenter clearfix">
		<div class="tab-list">
			<div class="tab-t">
				<strong id="myMes">
					<a href="userCenter?name=<%= username %>">我的账户</a>
				</strong>
			</div>
			<div class="tab-t">
				<strong id="myOrder">我的订单</strong>
				<ul>
					<li id="succ"><a href="userCenter?name=<%= username %>&status=1">已完成</a></li>
					<li id="usucc"><a href="userCenter?name=<%= username %>&status=0">未完成</a></li>
				</ul>
			</div>
			<div class="tab-t">
				<strong id="myAcc">我的评价</strong>
				<ul>
					<li id="acc"><a href="userCenter?name=<%= username %>&status=11">已评价</a></li>
					<li id="uacc"><a href="userCenter?name=<%= username %>&status=10">未评价</a></li>
				</ul>
			</div>
		</div>
		<div class="list-content">
			<div class="userMes">
				<div>
					<span class="mesCell">用户名：</span>
					<span id="userName_copy"></span>
					<a href="#" class="upMes">修改</a>
				</div>
				<div>
					<button type="button" class="btn btn-primary">修改密码</button>
				</div>
			</div>
			<% if( objList == ''){ %>
				<div>
					<img src="/images/noOrder.png" alt="">亲，您没有此类订单，请移步到<a href="home" style="color: #EF5651;">玖团首页</a>下单吧!<a href="home" style="color: #EF5651;"> 出发！</a>
				</div>
			<% }%>
			<%  if(objList.length) { %>
			<table class="buy-table">
        		<tbody>
        			<tr class="order-table-head-row">
			            <th class="package">项目</th>
			            <th class="price">单价</th>
			            <th class="amount">数量</th>
			            <th class="total">总价</th>
			            <th class="do-btns">操作</th>
			        </tr>
			        <% objList.forEach(function(data, index){ %>
	        		<tr>
	            		<td class="package">
                			<a href="product_detail?id=<%= data._id %>" target="_blank">
                    			<span class="resName"><%= data.resName %></span>:<span class="packageName"><%= data.projectDetail %></span>——<span class="pid"><%= data._id %></span>
               	 			</a>
            			</td>
			            <td class="price">
			                ¥<span class="price"><%= data.price %></span>
			            </td>
            			<td class="amount">	
		                	<%= data.pNumber %>
            			</td>
			            <td class="total-wrap">
			                ¥<span class="total"><%= data.price*data.pNumber %></span>
			            </td>
			            <% if(data.status == 0){ %>
			            <td class="a-btn">
			            	<button class="btn btn-info" onclick="pay()">前去支付</button>
			 				<button class="btn btn-danger" onclick="remove()">删除</button>
			            </td>
			            <% } else if (data.status == 1){ %>
			            <td class="a-btn">
			 				<button class="btn btn-danger" onclick="remove()">删除</button>
			            </td>
			            <% } %>
			            <% if(data.feedBack.status == 0){ %>
			            <td class="f-btn">
			            	<button class="btn btn-info acc" data-toggle="modal" data-target="#myModal">评论</button>
			 				<button class="btn btn-danger" onclick="remove()">删除</button>
			            </td>
			            <% } else if(data.feedBack.status == 1){ %>
			            <td class="f-btn">
			 				<button class="s" class="btn btn-danger" onclick="remove()">删除</button>
			            </td>
			            <% } %>
        			</tr>
        			<% }) %>
    			</tbody>
    		</table>
    		<% } %>
		</div>
	</div>
	<!--弹出层-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
		      	<div class="modal-header">
		      		<span>请评论：</span>
		      		<p style="display: none;">套餐id:<span id="pID"></span></p>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        		<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body clearfix" style="border: 0;">
					<div>
						<span style="display: inline-block;width: 50px;">分数</span>
						<select name="star" id="star" class="btn btn-default">
							<option value="5">5</option>
							<option value="4">4</option>
							<option value="3">3</option>
							<option value="2">2</option>
							<option value="1">1</option>
						</select>
					</div>
					<div>
						<div>请留言</div>
						<textarea name="text" id="accText" rows="5" cols="60" style="margin-left: 50px;"></textarea>
					</div>
					
				</div>
		      	<div class="modal-footer">
		      		<button class="btn btn-default" data-dismiss="modal">取消</button>
		      		<button class="btn btn-primary" data-dismiss="modal"  onclick="acc()">确定</button>
		      	</div>
	    	</div>
  		</div>
	</div>
	<script>
	$(function(){
		$('.tab-t li').click(function(){
			$('.tab-t li').removeClass('bc');
			$(this).addClass('bc');
		});
		$('#userName_copy').html($('#userName').html());

		//左侧高亮
		lightTab();

		//评论
		$(".acc").each(function(){
			$(this).click(function(){
				var pid = $(this).parents('tr').find('.pid').html();
				$('#pID').html(pid);
				acc();
			})
		});
	});
	function lightTab(){
		//左侧高亮
		var str = window.location.search;
		var n = str.indexOf('&');
		var search = str.substring(n+1);
		//alert(search);
		
		if(n < 0 ){
			$('#myMes a').addClass('bc');
			$('.buy-table').hide();
		}else {
			$('.userMes').hide();
			$('.buy-table').show();
			if(search == 'status=1'){
				$('.f-btn').hide();
				$('#succ a').addClass('bc');
			}
			if(search == 'status=0'){
				$('.f-btn').hide();
				$('#usucc a').addClass('bc');
			}
			if(search == 'status=11'){
				$('.a-btn').hide();
				$('#acc a').addClass('bc');
			}
			if(search == 'status=10'){
				$('.a-btn').hide();
				$('#uacc a').addClass('bc');
			}
		}
	}
	//删除
	function remove(){ 
		var uname = $('#userName').html();
		var data = {uname: uname};
		// $.ajax({ 
		// 	url:'/userCenter',
		// 	type:'post',
		// 	data: data,
		// 	success: function(data,status){ 
		// 		if(status == 'success'){ 
		// 			//location.href = 'home';
		// 		}
		// 	},
		// 	error: function(err,status){ 
		// 		alert(err);
		// 	}
		// });
	}
	//支付
	function pay(){ 
		var uname = $('#userName').html();
		var data = {uname: uname};
		// $.ajax({ 
		// 	url:'/userCenter',
		// 	type:'post',
		// 	data: data,
		// 	success: function(data,status){ 
		// 		if(status == 'success'){ 
		// 			//location.href = 'home';
		// 		}
		// 	},
		// 	error: function(err,status){ 
		// 		alert(err);
		// 	}
		// });
	}
	//评价
	function acc(){ 
		var pid = $('#pID').html();
		var star = $("#star").val();
		var text = $('#accText').val();
		//console.log(pid+'\n'+star+'\n'+text);
		var data =  {
			pid: pid,
			star: star,
			text: text
		};
		$.ajax({ 
			url:'/evaluate',
			type:'post',
			data: data,
			success: function(data,status){ 
				if(status == 'success'){ 
					//location.href = 'home';
				}
			},
			error: function(err,status){ 
				alert(err);
			}
		});
	}
	</script>
</body>
</html>