@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1458467378");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1458467378#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1458467378") format("woff"), url("../fonts/iconfont.ttf?t=1458467378") format("truetype"), url("../fonts/iconfont.svg?t=1458467378#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 13, ../sass/common.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../sass/common.scss */
.icon-huidaodingbu:before {
  content: "\e604";
}

/* line 22, ../sass/common.scss */
.icon-yonghu:before {
  content: "\e60d";
}

/* line 23, ../sass/common.scss */
.icon-xiuxianyule:before {
  content: "\e605";
}

/* line 24, ../sass/common.scss */
.icon-gouwuche:before {
  content: "\e612";
}

/* line 25, ../sass/common.scss */
.icon-gouwuche1:before {
  content: "\e60b";
}

/* line 26, ../sass/common.scss */
.icon-yonghu1:before {
  content: "\e60e";
}

/* line 27, ../sass/common.scss */
.icon-remen:before {
  content: "\e60f";
}

/* line 28, ../sass/common.scss */
.icon-fuwu:before {
  content: "\e606";
}

/* line 29, ../sass/common.scss */
.icon-gouwu:before {
  content: "\e607";
}

/* line 30, ../sass/common.scss */
.icon-shangquan:before {
  content: "\e610";
}

/* line 31, ../sass/common.scss */
.icon-caidanxialaicon:before {
  content: "\e613";
}

/* line 32, ../sass/common.scss */
.icon-wuxingshixin:before {
  content: "\e602";
}

/* line 33, ../sass/common.scss */
.icon-wuxingmian:before {
  content: "\e603";
}

/* line 34, ../sass/common.scss */
.icon-weishoucang:before {
  content: "\e600";
}

/* line 35, ../sass/common.scss */
.icon-shoucangyishoucang-copy:before {
  content: "\e601";
}

/* line 36, ../sass/common.scss */
.icon-jiudian:before {
  content: "\e608";
}

/* line 37, ../sass/common.scss */
.icon-dianying:before {
  content: "\e609";
}

/* line 38, ../sass/common.scss */
.icon-meishi:before {
  content: "\e60a";
}

/* line 39, ../sass/common.scss */
.icon-shenghuofuwu:before {
  content: "\e60c";
}

/* line 40, ../sass/common.scss */
.icon-17:before {
  content: "\e611";
}

@font-face {
  font-family: yeGenYou;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/yegenyouweiyingti.ttf");
}
/* line 54, ../sass/common.scss */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
}

/* line 60, ../sass/common.scss */
a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

/* line 63, ../sass/common.scss */
li {
  list-style: none;
}

/* line 66, ../sass/common.scss */
.allBorder0 {
  border: 0;
}

/* line 71, ../sass/common.scss */
.nav-wrap {
  width: 100%;
  padding-top: 10px;
  color: #000;
  background-color: #F4F4F2;
}
/* line 76, ../sass/common.scss */
.nav-wrap .nav-content {
  width: 90%;
  margin: 0 auto;
}
/* line 80, ../sass/common.scss */
.nav-wrap a {
  color: #000;
}

/* line 85, ../sass/common.scss */
.places span {
  padding-right: 10px;
}
/* line 88, ../sass/common.scss */
.places span:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 94, ../sass/common.scss */
.nav-list li {
  float: left;
  padding-left: 20px;
}

/* line 99, ../sass/common.scss */
.mHeader {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 104, ../sass/common.scss */
.mHeader img {
  height: 40px;
}
/* line 107, ../sass/common.scss */
.mHeader div {
  line-height: 20px;
  padding-top: 10px;
}
/* line 111, ../sass/common.scss */
.mHeader .search-input {
  width: 240px;
  padding: 6px 20px;
  margin-right: -4px;
  border: 1px solid #ccc;
}
/* line 117, ../sass/common.scss */
.mHeader .btn-default {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 120, ../sass/common.scss */
.mHeader button {
  margin-bottom: 3px;
}

/* line 124, ../sass/common.scss */
.navGroup {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
/* line 128, ../sass/common.scss */
.navGroup a {
  color: #fff;
}

/* line 132, ../sass/common.scss */
.allClassify1 {
  width: 20%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EF5651;
}

/* line 139, ../sass/common.scss */
.slide-title {
  width: 80%;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #CBAA72;
}
/* line 145, ../sass/common.scss */
.slide-title li {
  float: left;
  width: 16.67%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* line 153, ../sass/common.scss */
.flex {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}

/* line 4, ../sass/busData.scss */
.wrap {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 60px;
}

/* line 9, ../sass/busData.scss */
.space-name {
  padding: 30px 0;
  border-bottom: 1px solid #bbb;
  font-size: 20px;
  font-weight: bold;
}

/* line 15, ../sass/busData.scss */
.part-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
}

/* line 21, ../sass/busData.scss */
.part {
  width: 90%;
  margin: 0 auto;
}

/* line 25, ../sass/busData.scss */
.part-cont {
  width: 80%;
  margin-left: 10%;
}
/* line 28, ../sass/busData.scss */
.part-cont label {
  width: 100px;
  margin-right: 70px;
}

/* line 33, ../sass/busData.scss */
.add-cont {
  width: 90%;
  margin-left: 5%;
}
/* line 36, ../sass/busData.scss */
.add-cont label {
  width: 70px;
  margin-right: 50px;
}

/* line 41, ../sass/busData.scss */
.package-name {
  width: 50%;
  line-height: 34px;
  display: inline-block;
}

/* line 46, ../sass/busData.scss */
.btn-add-wrap {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #bbb;
}

/* line 51, ../sass/busData.scss */
.btn-save {
  width: 20%;
}

/* line 54, ../sass/busData.scss */
.btn-post, .btn-save {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 59, ../sass/busData.scss */
.btn-post {
  width: 150px;
}

/* line 62, ../sass/busData.scss */
.file-input {
  display: inline-block;
}

/* line 66, ../sass/busData.scss */
.package-list div {
  margin-bottom: 20px;
}
/* line 69, ../sass/busData.scss */
.package-list a, .package-list button {
  float: left;
  margin-right: 20px;
}

/* line 74, ../sass/busData.scss */
.tips {
  color: #f00;
  width: 100px;
}

/* line 78, ../sass/busData.scss */
.part-cont .tips2 {
  color: #f00;
  width: 175px;
  margin: 0;
}
