@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1458467378");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1458467378#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1458467378") format("woff"), url("../fonts/iconfont.ttf?t=1458467378") format("truetype"), url("../fonts/iconfont.svg?t=1458467378#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 13, ../sass/common.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../sass/common.scss */
.icon-huidaodingbu:before {
  content: "\e604";
}

/* line 22, ../sass/common.scss */
.icon-yonghu:before {
  content: "\e60d";
}

/* line 23, ../sass/common.scss */
.icon-xiuxianyule:before {
  content: "\e605";
}

/* line 24, ../sass/common.scss */
.icon-gouwuche:before {
  content: "\e612";
}

/* line 25, ../sass/common.scss */
.icon-gouwuche1:before {
  content: "\e60b";
}

/* line 26, ../sass/common.scss */
.icon-yonghu1:before {
  content: "\e60e";
}

/* line 27, ../sass/common.scss */
.icon-remen:before {
  content: "\e60f";
}

/* line 28, ../sass/common.scss */
.icon-fuwu:before {
  content: "\e606";
}

/* line 29, ../sass/common.scss */
.icon-gouwu:before {
  content: "\e607";
}

/* line 30, ../sass/common.scss */
.icon-shangquan:before {
  content: "\e610";
}

/* line 31, ../sass/common.scss */
.icon-caidanxialaicon:before {
  content: "\e613";
}

/* line 32, ../sass/common.scss */
.icon-wuxingshixin:before {
  content: "\e602";
}

/* line 33, ../sass/common.scss */
.icon-wuxingmian:before {
  content: "\e603";
}

/* line 34, ../sass/common.scss */
.icon-weishoucang:before {
  content: "\e600";
}

/* line 35, ../sass/common.scss */
.icon-shoucangyishoucang-copy:before {
  content: "\e601";
}

/* line 36, ../sass/common.scss */
.icon-jiudian:before {
  content: "\e608";
}

/* line 37, ../sass/common.scss */
.icon-dianying:before {
  content: "\e609";
}

/* line 38, ../sass/common.scss */
.icon-meishi:before {
  content: "\e60a";
}

/* line 39, ../sass/common.scss */
.icon-shenghuofuwu:before {
  content: "\e60c";
}

/* line 40, ../sass/common.scss */
.icon-17:before {
  content: "\e611";
}

@font-face {
  font-family: yeGenYou;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/yegenyouweiyingti.ttf");
}
/* line 54, ../sass/common.scss */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
}

/* line 60, ../sass/common.scss */
a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

/* line 63, ../sass/common.scss */
li {
  list-style: none;
}

/* line 66, ../sass/common.scss */
.allBorder0 {
  border: 0;
}

/* line 70, ../sass/common.scss */
.nav-wrap {
  width: 100%;
  padding-top: 10px;
  color: #000;
  background-color: #F4F4F2;
}
/* line 75, ../sass/common.scss */
.nav-wrap .nav-content {
  width: 90%;
  margin: 0 auto;
}
/* line 79, ../sass/common.scss */
.nav-wrap a {
  color: #000;
}

/* line 84, ../sass/common.scss */
.places span {
  padding-right: 10px;
}
/* line 87, ../sass/common.scss */
.places span:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 93, ../sass/common.scss */
.nav-list li {
  float: left;
  padding-left: 20px;
}

/* line 98, ../sass/common.scss */
.mHeader {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 103, ../sass/common.scss */
.mHeader img {
  height: 40px;
}
/* line 106, ../sass/common.scss */
.mHeader div {
  line-height: 20px;
  padding-top: 10px;
}
/* line 110, ../sass/common.scss */
.mHeader .search-input {
  width: 240px;
  padding: 6px 20px;
  margin-right: -4px;
  border: 1px solid #ccc;
}
/* line 116, ../sass/common.scss */
.mHeader .btn-default {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 119, ../sass/common.scss */
.mHeader button {
  margin-bottom: 3px;
}

/* line 123, ../sass/common.scss */
.navGroup {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
/* line 127, ../sass/common.scss */
.navGroup a {
  color: #fff;
}

/* line 131, ../sass/common.scss */
.allClassify1 {
  width: 20%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EF5651;
}

/* line 138, ../sass/common.scss */
.slide-title {
  width: 80%;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #CBAA72;
}
/* line 144, ../sass/common.scss */
.slide-title li {
  float: left;
  width: 16.67%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* line 152, ../sass/common.scss */
.flex {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}

/* line 2, ../sass/homePage.scss */
.homePage {
  min-width: 1110px;
  height: 100%;
  background-color: #F8F7F2;
}
/* line 6, ../sass/homePage.scss */
.homePage .nav-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  color: #000;
  background-color: #F4F4F2;
}
/* line 12, ../sass/homePage.scss */
.homePage .nav-wrap a {
  color: #000;
}
/* line 17, ../sass/homePage.scss */
.homePage .places span {
  padding-right: 10px;
}
/* line 20, ../sass/homePage.scss */
.homePage .places span:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 26, ../sass/homePage.scss */
.homePage .nav-list li {
  float: left;
  padding-left: 20px;
}
/* line 34, ../sass/homePage.scss */
.homePage .mHeader {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 39, ../sass/homePage.scss */
.homePage .mHeader img {
  height: 40px;
}
/* line 42, ../sass/homePage.scss */
.homePage .mHeader div {
  line-height: 20px;
  padding-top: 10px;
}
/* line 47, ../sass/homePage.scss */
.homePage .mPart1 {
  width: 85%;
  margin: 0 auto;
}
/* line 51, ../sass/homePage.scss */
.homePage .allClassify {
  width: 20%;
  padding-left: 0;
  text-align: left;
}
/* line 55, ../sass/homePage.scss */
.homePage .allClassify li {
  padding: 13px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* line 60, ../sass/homePage.scss */
.homePage .allClassify li:nth-child(1) {
  color: #fff;
  background-color: #EF5651;
  border: 0;
}
/* line 65, ../sass/homePage.scss */
.homePage .allClassify a {
  color: #333;
}
/* line 69, ../sass/homePage.scss */
.homePage .slide-wrap {
  width: 80%;
}
/* line 71, ../sass/homePage.scss */
.homePage .slide-wrap .skitter {
  width: 100%;
  height: 205px;
  overflow: hidden;
}
/* line 75, ../sass/homePage.scss */
.homePage .slide-wrap .skitter .skitter-content {
  width: 100%;
  height: 100%;
}
/* line 81, ../sass/homePage.scss */
.homePage .slide-title {
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #CBAA72;
}
/* line 86, ../sass/homePage.scss */
.homePage .slide-title li {
  float: left;
  width: 16.67%;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}
/* line 93, ../sass/homePage.scss */
.homePage .slide-title a {
  color: #fff;
}
/* line 97, ../sass/homePage.scss */
.homePage .slide-footer {
  height: 124px;
  text-align: center;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
/* line 103, ../sass/homePage.scss */
.homePage .slide-footer div {
  width: 33.33%;
  float: left;
  padding: 10px;
  padding-top: 0;
  border-right: 1px solid #ddd;
}
/* line 110, ../sass/homePage.scss */
.homePage .slide-footer .title {
  margin: 10px;
  font-weight: bold;
}
/* line 114, ../sass/homePage.scss */
.homePage .slide-footer ul {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 118, ../sass/homePage.scss */
.homePage .slide-footer li {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* line 122, ../sass/homePage.scss */
.homePage .slide-footer li a {
  color: #333;
}
/* line 127, ../sass/homePage.scss */
.homePage .mPart {
  width: 85%;
  margin: 0 auto;
}
/* line 131, ../sass/homePage.scss */
.homePage .left-mPart {
  width: 80%;
}
/* line 134, ../sass/homePage.scss */
.homePage .right-mPart {
  width: 20%;
}
/* line 137, ../sass/homePage.scss */
.homePage .mPartLeftCell {
  padding-right: 2%;
  border-bottom: 1px solid #333;
}
/* line 141, ../sass/homePage.scss */
.homePage .cellTop {
  padding: 10px 20px;
}
/* line 143, ../sass/homePage.scss */
.homePage .cellTop a {
  color: #333;
}
/* line 146, ../sass/homePage.scss */
.homePage .cellTop .title {
  display: block;
  padding-bottom: 10px;
  border-bottom: 2px solid #EC574E;
}
/* line 152, ../sass/homePage.scss */
.homePage .arrows {
  margin-right: 30px;
  border: 1px solid #ddd;
}
/* line 155, ../sass/homePage.scss */
.homePage .arrows a {
  display: block;
  padding: 0 10px;
  float: left;
}
/* line 160, ../sass/homePage.scss */
.homePage .arrows a:first-child {
  border-right: 1px solid #ddd;
}
/* line 164, ../sass/homePage.scss */
.homePage .more {
  margin-right: 30px;
}
/* line 167, ../sass/homePage.scss */
.homePage .tjCell {
  width: 25%;
  float: left;
}
/* line 173, ../sass/homePage.scss */
.homePage .tjCell img {
  width: 100%;
}
/* line 177, ../sass/homePage.scss */
.homePage .mtjCell {
  display: block;
  padding-right: 30px;
  color: #333;
}
/* line 182, ../sass/homePage.scss */
.homePage .mtjCell img {
  height: 130px;
}
/* line 186, ../sass/homePage.scss */
.homePage .info_h {
  height: 40px;
  font-weight: bold;
  margin: 10px auto;
}
/* line 191, ../sass/homePage.scss */
.homePage .info_c {
  height: 60px;
  overflow: hidden;
}
/* line 195, ../sass/homePage.scss */
.homePage .cutForNewer {
  padding-left: 10px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  color: #fff;
  background-color: #EC574E;
}
/* line 204, ../sass/homePage.scss */
.homePage .price {
  line-height: 30px;
}
/* line 207, ../sass/homePage.scss */
.homePage .oldPrice {
  color: #555;
  font-size: 12px;
}
/* line 211, ../sass/homePage.scss */
.homePage .newPrice {
  color: #EC574E;
  font-weight: bold;
  font-size: 16px;
}
/* line 216, ../sass/homePage.scss */
.homePage .mark-sold {
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 220, ../sass/homePage.scss */
.homePage .mark-sold div:nth-child(2) {
  color: #555;
}
/* line 224, ../sass/homePage.scss */
.homePage .mPartRightCell {
  width: 90%;
  min-width: 196px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ddd;
  background-color: #fff;
}
/* line 231, ../sass/homePage.scss */
.homePage .mPartRightCell a {
  color: #333;
}
/* line 234, ../sass/homePage.scss */
.homePage .mPartRightCell div.order {
  display: none;
}
/* line 237, ../sass/homePage.scss */
.homePage .mPartRightCell div.show {
  display: block;
}
/* line 240, ../sass/homePage.scss */
.homePage .mPartRightCell ul {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  border-top: 1px solid #ddd;
}
/* line 245, ../sass/homePage.scss */
.homePage .mPartRightCell li {
  width: 20%;
  float: left;
  padding: 3px 0;
  text-align: center;
  cursor: pointer;
}
/* line 251, ../sass/homePage.scss */
.homePage .mPartRightCell li.active {
  border-bottom: 2px solid #EC574E;
}
/* line 257, ../sass/homePage.scss */
.homePage .rightCellTitle {
  display: block;
  text-align: center;
  line-height: 40px;
}
/* line 262, ../sass/homePage.scss */
.homePage .rcContent {
  min-width: 196px;
  position: relative;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
}
/* line 267, ../sass/homePage.scss */
.homePage .rcContent img {
  width: 60%;
}
/* line 270, ../sass/homePage.scss */
.homePage .rcContent .top-right {
  width: 35%;
}
/* line 273, ../sass/homePage.scss */
.homePage .rcContent .infor {
  height: 60px;
  margin-bottom: 10px;
}
/* line 278, ../sass/homePage.scss */
.homePage .topTag {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 5px 10px;
  color: #fff;
  background-color: #EC574E;
}
/* line 286, ../sass/homePage.scss */
.homePage .footer {
  width: 100%;
  padding: 50px 10% 50px 10%;
  margin-top: 50px;
  border-top: 1px solid #ddd;
}
/* line 293, ../sass/homePage.scss */
.homePage .footer .mPartLeftCell {
  width: 80%;
  text-align: center;
  border-bottom: 0;
}
/* line 297, ../sass/homePage.scss */
.homePage .footer .mPartLeftCell div {
  width: 25%;
  float: left;
}
/* line 301, ../sass/homePage.scss */
.homePage .footer .mPartLeftCell p {
  font-size: 18px;
  color: #555;
}
/* line 305, ../sass/homePage.scss */
.homePage .footer .mPartLeftCell a {
  display: block;
  color: #333;
}
/* line 310, ../sass/homePage.scss */
.homePage .footer .mPartLeftCell + div {
  width: 20%;
}
/* line 314, ../sass/homePage.scss */
.homePage .foot-p {
  text-align: center;
  margin-bottom: 20px;
}
