@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1458467378");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1458467378#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1458467378") format("woff"), url("../fonts/iconfont.ttf?t=1458467378") format("truetype"), url("../fonts/iconfont.svg?t=1458467378#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 13, ../sass/common.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../sass/common.scss */
.icon-huidaodingbu:before {
  content: "\e604";
}

/* line 22, ../sass/common.scss */
.icon-yonghu:before {
  content: "\e60d";
}

/* line 23, ../sass/common.scss */
.icon-xiuxianyule:before {
  content: "\e605";
}

/* line 24, ../sass/common.scss */
.icon-gouwuche:before {
  content: "\e612";
}

/* line 25, ../sass/common.scss */
.icon-gouwuche1:before {
  content: "\e60b";
}

/* line 26, ../sass/common.scss */
.icon-yonghu1:before {
  content: "\e60e";
}

/* line 27, ../sass/common.scss */
.icon-remen:before {
  content: "\e60f";
}

/* line 28, ../sass/common.scss */
.icon-fuwu:before {
  content: "\e606";
}

/* line 29, ../sass/common.scss */
.icon-gouwu:before {
  content: "\e607";
}

/* line 30, ../sass/common.scss */
.icon-shangquan:before {
  content: "\e610";
}

/* line 31, ../sass/common.scss */
.icon-caidanxialaicon:before {
  content: "\e613";
}

/* line 32, ../sass/common.scss */
.icon-wuxingshixin:before {
  content: "\e602";
}

/* line 33, ../sass/common.scss */
.icon-wuxingmian:before {
  content: "\e603";
}

/* line 34, ../sass/common.scss */
.icon-weishoucang:before {
  content: "\e600";
}

/* line 35, ../sass/common.scss */
.icon-shoucangyishoucang-copy:before {
  content: "\e601";
}

/* line 36, ../sass/common.scss */
.icon-jiudian:before {
  content: "\e608";
}

/* line 37, ../sass/common.scss */
.icon-dianying:before {
  content: "\e609";
}

/* line 38, ../sass/common.scss */
.icon-meishi:before {
  content: "\e60a";
}

/* line 39, ../sass/common.scss */
.icon-shenghuofuwu:before {
  content: "\e60c";
}

/* line 40, ../sass/common.scss */
.icon-17:before {
  content: "\e611";
}

@font-face {
  font-family: yeGenYou;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/yegenyouweiyingti.ttf");
}
/* line 54, ../sass/common.scss */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
}

/* line 60, ../sass/common.scss */
a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

/* line 63, ../sass/common.scss */
li {
  list-style: none;
}

/* line 66, ../sass/common.scss */
.allBorder0 {
  border: 0;
}

/* line 71, ../sass/common.scss */
.nav-wrap {
  width: 100%;
  padding-top: 10px;
  color: #000;
  background-color: #F4F4F2;
}
/* line 76, ../sass/common.scss */
.nav-wrap .nav-content {
  width: 90%;
  margin: 0 auto;
}
/* line 80, ../sass/common.scss */
.nav-wrap a {
  color: #000;
}

/* line 85, ../sass/common.scss */
.places span {
  padding-right: 10px;
}
/* line 88, ../sass/common.scss */
.places span:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 94, ../sass/common.scss */
.nav-list li {
  float: left;
  padding-left: 20px;
}

/* line 99, ../sass/common.scss */
.mHeader {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 104, ../sass/common.scss */
.mHeader img {
  height: 40px;
}
/* line 107, ../sass/common.scss */
.mHeader div {
  line-height: 20px;
  padding-top: 10px;
}
/* line 111, ../sass/common.scss */
.mHeader .search-input {
  width: 240px;
  padding: 6px 20px;
  margin-right: -4px;
  border: 1px solid #ccc;
}
/* line 117, ../sass/common.scss */
.mHeader .btn-default {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 120, ../sass/common.scss */
.mHeader button {
  margin-bottom: 3px;
}

/* line 124, ../sass/common.scss */
.navGroup {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
/* line 128, ../sass/common.scss */
.navGroup a {
  color: #fff;
}

/* line 132, ../sass/common.scss */
.allClassify1 {
  width: 20%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EF5651;
}

/* line 139, ../sass/common.scss */
.slide-title {
  width: 80%;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #CBAA72;
}
/* line 145, ../sass/common.scss */
.slide-title li {
  float: left;
  width: 16.67%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* line 153, ../sass/common.scss */
.flex {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}

/* line 4, ../sass/product_detail.scss */
html, body {
  height: 100%;
}

/* line 7, ../sass/product_detail.scss */
.product_detail {
  height: 100%;
  background-color: #F9F7F1;
}
/* line 10, ../sass/product_detail.scss */
.product_detail .cell-wrap {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
/* line 16, ../sass/product_detail.scss */
.product_detail .cell {
  width: 80%;
  margin: 0 auto;
}
/* line 20, ../sass/product_detail.scss */
.product_detail .resName {
  font-size: 20px;
  font-weight: bold;
}
/* line 24, ../sass/product_detail.scss */
.product_detail .info {
  padding-left: 10px;
}
/* line 27, ../sass/product_detail.scss */
.product_detail .img-wrap {
  width: 40%;
  float: left;
}
/* line 33, ../sass/product_detail.scss */
.product_detail .img-wrap img {
  width: 100%;
  display: block;
}
/* line 40, ../sass/product_detail.scss */
.product_detail .prices div {
  padding-right: 40px;
}
/* line 43, ../sass/product_detail.scss */
.product_detail .prices span {
  line-height: 30px;
}
/* line 48, ../sass/product_detail.scss */
.product_detail .tagName {
  width: 70px;
  color: #999;
  padding-right: 20px;
}
/* line 53, ../sass/product_detail.scss */
.product_detail .tagCon {
  color: #666;
}
/* line 56, ../sass/product_detail.scss */
.product_detail .colorF {
  color: #FE6813;
}
/* line 59, ../sass/product_detail.scss */
.product_detail .date_info {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 63, ../sass/product_detail.scss */
.product_detail .h-info {
  width: 55%;
  float: left;
  padding: 10px 20px;
  margin-left: 5%;
  color: #888;
}
/* line 75, ../sass/product_detail.scss */
.product_detail .newPrice {
  color: #FE6813;
  font-size: 24px;
}
/* line 80, ../sass/product_detail.scss */
.product_detail .backInfo div {
  width: 33%;
  height: 50px;
  float: left;
  margin-top: 20px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* line 94, ../sass/product_detail.scss */
.product_detail .add-btn-wrap {
  padding-bottom: 20px;
}
/* line 96, ../sass/product_detail.scss */
.product_detail .add-btn-wrap span {
  line-height: 35px;
}
/* line 101, ../sass/product_detail.scss */
.product_detail .add-btn input {
  width: 60px;
  height: 35px;
  text-align: center;
}
/* line 106, ../sass/product_detail.scss */
.product_detail .add-btn button {
  width: 30px;
  height: 35px;
  text-align: center;
}
/* line 112, ../sass/product_detail.scss */
.product_detail .u-info {
  width: 55%;
  float: left;
  margin-left: 5%;
  color: #555;
}
/* line 118, ../sass/product_detail.scss */
.product_detail .buy-btn-wrap {
  padding-left: 70px;
}
/* line 120, ../sass/product_detail.scss */
.product_detail .buy-btn-wrap button {
  display: block;
  float: left;
  margin-left: 30px;
  padding: 10px 10px;
}
/* line 127, ../sass/product_detail.scss */
.product_detail .collect-info {
  float: right;
  padding-right: 40px;
  color: #555;
}
/* line 131, ../sass/product_detail.scss */
.product_detail .collect-info span {
  display: inline;
  margin-left: 20px;
  color: #ED5852;
  font-size: 26px;
  line-height: 50px;
}
/* line 139, ../sass/product_detail.scss */
.product_detail .buy-btn {
  display: block;
  float: left;
  font-size: 20px;
  padding: 10px 30px;
  color: #fff;
  background-color: #ED5852;
}
/* line 147, ../sass/product_detail.scss */
.product_detail .buy-btn:hover {
  background-color: #EF3C35;
}
/* line 164, ../sass/product_detail.scss */
.product_detail .left-part {
  width: 60%;
  float: left;
}
/* line 168, ../sass/product_detail.scss */
.product_detail .right-part {
  width: 40%;
  float: left;
}
/* line 172, ../sass/product_detail.scss */
.product_detail .otherPackage-info {
  display: block;
  color: #333;
  padding-bottom: 10px;
}
/* line 176, ../sass/product_detail.scss */
.product_detail .otherPackage-info div {
  float: left;
  padding-right: 20px;
}
/* line 180, ../sass/product_detail.scss */
.product_detail .otherPackage-info div:first-child {
  color: #FC7D6D;
}
/* line 183, ../sass/product_detail.scss */
.product_detail .otherPackage-info div:last-child {
  float: right;
  padding-right: 0;
  color: #C7C6C3;
}
/* line 190, ../sass/product_detail.scss */
.product_detail .star .icon-wuxingshixin {
  color: #ED5852;
}
/* line 193, ../sass/product_detail.scss */
.product_detail .star .icon-wuxingmian {
  color: #A6A5A5;
}
/* line 199, ../sass/product_detail.scss */
.product_detail .pj div {
  float: left;
  padding-right: 20px;
}
/* line 203, ../sass/product_detail.scss */
.product_detail .pj .satisfaction-rate {
  float: right;
  padding-right: 0;
}
/* line 208, ../sass/product_detail.scss */
.product_detail .pj-lines {
  padding: 10px 20px 0 20px;
  color: #454544;
  border-bottom: 1px solid #ED5852;
}
/* line 213, ../sass/product_detail.scss */
.product_detail .pjl-cell {
  width: 90%;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
}
/* line 220, ../sass/product_detail.scss */
.product_detail .lines {
  width: 100%;
  border-left: 1px solid #ED5852;
  border-right: 1px solid #ED5852;
}
/* line 225, ../sass/product_detail.scss */
.product_detail .line-wrap {
  width: 90%;
  padding-bottom: 10px;
  margin: 0 auto;
}
/* line 229, ../sass/product_detail.scss */
.product_detail .line-wrap div {
  float: left;
  width: 20%;
}
/* line 233, ../sass/product_detail.scss */
.product_detail .line-wrap .pj-line {
  width: 60%;
  height: 20px;
  float: left;
  background-color: #ED5852;
}
/* line 240, ../sass/product_detail.scss */
.product_detail .all-say-wrap {
  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E2E1DF;
}
/* line 244, ../sass/product_detail.scss */
.product_detail .all-say-wrap p {
  margin-top: 10px;
}
/* line 249, ../sass/product_detail.scss */
.product_detail .all-say div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 2px 5px;
  margin-right: 20px;
  border: 1px solid #ED5852;
  background-color: #fff;
}
/* line 257, ../sass/product_detail.scss */
.product_detail .pj-list {
  background-color: #E4E4E4;
  padding: 5px 10px;
}
/* line 260, ../sass/product_detail.scss */
.product_detail .pj-list div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 5px 10px;
  border-left: 1px solid #CCCCCC;
}
/* line 265, ../sass/product_detail.scss */
.product_detail .pj-list div:first-child {
  color: #AE4242;
  border-left: 0;
}
/* line 270, ../sass/product_detail.scss */
.product_detail .pj-detail {
  padding: 10px 20px;
  border-bottom: 1px solid #E4E3E1;
}

/* line 275, ../sass/product_detail.scss */
.btn-pj {
  width: 80%;
  display: block;
  padding: 10px 30px;
  margin: 0 auto;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ED5852;
}

/* line 284, ../sass/product_detail.scss */
.modal-body {
  padding: 20px 20px 40px 20px;
}

/* line 288, ../sass/product_detail.scss */
.info-success h5 {
  font-size: 20px;
  line-height: 30px;
}

/* line 293, ../sass/product_detail.scss */
.m-btn {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 20px 6px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-width: 0 0 1px;
  border-style: solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}

/* line 306, ../sass/product_detail.scss */
.continue {
  background-color: #2db3a6;
  border-color: #008177;
  margin-right: 20px;
}
/* line 310, ../sass/product_detail.scss */
.continue:hover {
  background-color: #2eb7aa;
  color: #fff;
}

/* line 315, ../sass/product_detail.scss */
.toCar {
  background-color: #f76120;
  border-color: #da3f02;
}
/* line 318, ../sass/product_detail.scss */
.toCar:hover {
  background-color: #ff8101;
  border-color: #f76120;
  color: #fff;
}
