@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1458467378");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1458467378#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1458467378") format("woff"), url("../fonts/iconfont.ttf?t=1458467378") format("truetype"), url("../fonts/iconfont.svg?t=1458467378#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 13, ../sass/common.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../sass/common.scss */
.icon-huidaodingbu:before {
  content: "\e604";
}

/* line 22, ../sass/common.scss */
.icon-yonghu:before {
  content: "\e60d";
}

/* line 23, ../sass/common.scss */
.icon-xiuxianyule:before {
  content: "\e605";
}

/* line 24, ../sass/common.scss */
.icon-gouwuche:before {
  content: "\e612";
}

/* line 25, ../sass/common.scss */
.icon-gouwuche1:before {
  content: "\e60b";
}

/* line 26, ../sass/common.scss */
.icon-yonghu1:before {
  content: "\e60e";
}

/* line 27, ../sass/common.scss */
.icon-remen:before {
  content: "\e60f";
}

/* line 28, ../sass/common.scss */
.icon-fuwu:before {
  content: "\e606";
}

/* line 29, ../sass/common.scss */
.icon-gouwu:before {
  content: "\e607";
}

/* line 30, ../sass/common.scss */
.icon-shangquan:before {
  content: "\e610";
}

/* line 31, ../sass/common.scss */
.icon-caidanxialaicon:before {
  content: "\e613";
}

/* line 32, ../sass/common.scss */
.icon-wuxingshixin:before {
  content: "\e602";
}

/* line 33, ../sass/common.scss */
.icon-wuxingmian:before {
  content: "\e603";
}

/* line 34, ../sass/common.scss */
.icon-weishoucang:before {
  content: "\e600";
}

/* line 35, ../sass/common.scss */
.icon-shoucangyishoucang-copy:before {
  content: "\e601";
}

/* line 36, ../sass/common.scss */
.icon-jiudian:before {
  content: "\e608";
}

/* line 37, ../sass/common.scss */
.icon-dianying:before {
  content: "\e609";
}

/* line 38, ../sass/common.scss */
.icon-meishi:before {
  content: "\e60a";
}

/* line 39, ../sass/common.scss */
.icon-shenghuofuwu:before {
  content: "\e60c";
}

/* line 40, ../sass/common.scss */
.icon-17:before {
  content: "\e611";
}

@font-face {
  font-family: yeGenYou;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/yegenyouweiyingti.ttf");
}
/* line 54, ../sass/common.scss */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
}

/* line 60, ../sass/common.scss */
a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

/* line 63, ../sass/common.scss */
li {
  list-style: none;
}

/* line 66, ../sass/common.scss */
.allBorder0 {
  border: 0;
}

/* line 71, ../sass/common.scss */
.nav-wrap {
  width: 100%;
  padding-top: 10px;
  color: #000;
  background-color: #F4F4F2;
}
/* line 76, ../sass/common.scss */
.nav-wrap .nav-content {
  width: 90%;
  margin: 0 auto;
}
/* line 80, ../sass/common.scss */
.nav-wrap a {
  color: #000;
}

/* line 85, ../sass/common.scss */
.places span {
  padding-right: 10px;
}
/* line 88, ../sass/common.scss */
.places span:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 94, ../sass/common.scss */
.nav-list li {
  float: left;
  padding-left: 20px;
}

/* line 99, ../sass/common.scss */
.mHeader {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 104, ../sass/common.scss */
.mHeader img {
  height: 40px;
}
/* line 107, ../sass/common.scss */
.mHeader div {
  line-height: 20px;
  padding-top: 10px;
}
/* line 111, ../sass/common.scss */
.mHeader .search-input {
  width: 240px;
  padding: 6px 20px;
  margin-right: -4px;
  border: 1px solid #ccc;
}
/* line 117, ../sass/common.scss */
.mHeader .btn-default {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 120, ../sass/common.scss */
.mHeader button {
  margin-bottom: 3px;
}

/* line 124, ../sass/common.scss */
.navGroup {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
/* line 128, ../sass/common.scss */
.navGroup a {
  color: #fff;
}

/* line 132, ../sass/common.scss */
.allClassify1 {
  width: 20%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EF5651;
}

/* line 139, ../sass/common.scss */
.slide-title {
  width: 80%;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #CBAA72;
}
/* line 145, ../sass/common.scss */
.slide-title li {
  float: left;
  width: 16.67%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* line 153, ../sass/common.scss */
.flex {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}

/* line 5, ../sass/show-time.scss */
.show-time {
  margin: 0;
  padding: 0;
  min-width: 860px;
  background-color: #F8F7F2;
  width: 100%;
}
/* line 11, ../sass/show-time.scss */
.show-time .header {
  height: 50px;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  background-color: #F4F4F2;
  position: relative;
}
/* line 18, ../sass/show-time.scss */
.show-time .header a.logo {
  color: #333333;
  display: inline-block;
  width: 100px;
  height: 100%;
  margin-left: 30px;
}
/* line 24, ../sass/show-time.scss */
.show-time .header a.logo i.logo {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../images/jiutuan.png");
  background-size: 100% 100%;
}
/* line 32, ../sass/show-time.scss */
.show-time .header .log-regist {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 37, ../sass/show-time.scss */
.show-time .header .log-regist a {
  color: #333333;
  display: inline-block;
  margin-right: 30px;
}
/* line 44, ../sass/show-time.scss */
.show-time .content {
  background-color: #F8F7F2;
  /*padding: 0 30px 20px 30px;*/
  width: 100%;
  box-sizing: border-box;
}
/* line 49, ../sass/show-time.scss */
.show-time .content .describe {
  width: 50%;
  position: relative;
  /*top: -100px;*/
}
/* line 53, ../sass/show-time.scss */
.show-time .content .describe .content {
  width: 100%;
  padding: 100px 0;
}
/* line 56, ../sass/show-time.scss */
.show-time .content .describe .content .time {
  display: block;
  width: 110px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  background-color: #493737;
  color: #ffffff;
  font-size: 24px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
}
/* line 69, ../sass/show-time.scss */
.show-time .content .describe .content .tips {
  font-weight: bold;
  color: #272c30;
  font-family: "cooper std";
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
/* line 76, ../sass/show-time.scss */
.show-time .content .describe .content .tips span {
  display: block;
}
/* line 80, ../sass/show-time.scss */
.show-time .content .describe .content .interval {
  display: block;
  width: 100px;
  border: 1px solid #333333;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* line 87, ../sass/show-time.scss */
.show-time .content .describe .content .main {
  font-size: 18px;
  text-align: center;
}
/* line 90, ../sass/show-time.scss */
.show-time .content .describe .content .main p:nth-child(2) {
  margin-left: 60px;
}
/* line 93, ../sass/show-time.scss */
.show-time .content .describe .content .main p:nth-child(3) {
  margin-left: -70px;
}
/* line 99, ../sass/show-time.scss */
.show-time .content .show-img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50px;
}
/* line 104, ../sass/show-time.scss */
.show-time .content .show-img .field {
  width: 100%;
}
/* line 106, ../sass/show-time.scss */
.show-time .content .show-img .field .image {
  margin: 0 auto;
  border: 10px solid #ffffff;
  margin-bottom: 20px;
  width: 320px;
  height: 245px;
}
/* line 112, ../sass/show-time.scss */
.show-time .content .show-img .field .image:nth-child(1) {
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  position: relative;
  top: 70px;
  right: 10px;
  -moz-box-shadow: 15px 15px 10px #bbbbbb;
  -webkit-box-shadow: 15px 15px 10px #bbbbbb;
  box-shadow: 15px 15px 10px #bbbbbb;
  -moz-animation: move_downBox 2s;
  -webkit-animation: move_downBox 2s;
  animation: move_downBox 2s;
}
/* line 120, ../sass/show-time.scss */
.show-time .content .show-img .field .image:nth-child(2) {
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  position: relative;
  right: 60px;
  -moz-box-shadow: -15px 15px 10px #bbbbbb;
  -webkit-box-shadow: -15px 15px 10px #bbbbbb;
  box-shadow: -15px 15px 10px #bbbbbb;
  -moz-animation: move_upBox 2s;
  -webkit-animation: move_upBox 2s;
  animation: move_upBox 2s;
}
/* line 127, ../sass/show-time.scss */
.show-time .content .show-img .field .image img {
  display: inline-block;
  width: 300px;
  height: 225px;
}
/* line 131, ../sass/show-time.scss */
.show-time .content .show-img .field .image img:nth-child(1) {
  -moz-animation: move_down 2s;
  -webkit-animation: move_down 2s;
  animation: move_down 2s;
}
/* line 134, ../sass/show-time.scss */
.show-time .content .show-img .field .image img:nth-child(2) {
  -moz-animation: move_up 2s;
  -webkit-animation: move_up 2s;
  animation: move_up 2s;
}
@-moz-keyframes move_upBox {
  0% {
    width: 60px;
    height: 50px;
    right: 1000px;
    bottom: 500px;
  }
  100% {
    width: 320px;
    height: 245px;
    right: 60px;
    bottom: 0;
  }
}
@-webkit-keyframes move_upBox {
  0% {
    width: 60px;
    height: 50px;
    right: 1000px;
    bottom: 500px;
  }
  100% {
    width: 320px;
    height: 245px;
    right: 60px;
    bottom: 0;
  }
}
@keyframes move_upBox {
  0% {
    width: 60px;
    height: 50px;
    right: 1000px;
    bottom: 500px;
  }
  100% {
    width: 320px;
    height: 245px;
    right: 60px;
    bottom: 0;
  }
}
@-moz-keyframes move_downBox {
  0% {
    width: 60px;
    height: 50px;
    top: -200px;
    right: 500px;
  }
  100% {
    width: 320px;
    height: 245px;
    top: 70px;
    right: 10px;
  }
}
@-webkit-keyframes move_downBox {
  0% {
    width: 60px;
    height: 50px;
    top: -200px;
    right: 500px;
  }
  100% {
    width: 320px;
    height: 245px;
    top: 70px;
    right: 10px;
  }
}
@keyframes move_downBox {
  0% {
    width: 60px;
    height: 50px;
    top: -200px;
    right: 500px;
  }
  100% {
    width: 320px;
    height: 245px;
    top: 70px;
    right: 10px;
  }
}
@-moz-keyframes move_up {
  0% {
    width: 40px;
    height: 30px;
    right: 1000px;
    bottom: 500px;
  }
  100% {
    width: 300px;
    height: 225px;
    right: 60px;
    bottom: 0;
  }
}
@-webkit-keyframes move_up {
  0% {
    width: 40px;
    height: 30px;
    right: 1000px;
    bottom: 500px;
  }
  100% {
    width: 300px;
    height: 225px;
    right: 60px;
    bottom: 0;
  }
}
@keyframes move_up {
  0% {
    width: 40px;
    height: 30px;
    right: 1000px;
    bottom: 500px;
  }
  100% {
    width: 300px;
    height: 225px;
    right: 60px;
    bottom: 0;
  }
}
@-moz-keyframes move_down {
  0% {
    width: 40px;
    height: 30px;
    top: -200px;
    right: 500px;
  }
  100% {
    width: 300px;
    height: 225px;
    top: 70px;
    right: 10px;
  }
}
@-webkit-keyframes move_down {
  0% {
    width: 40px;
    height: 30px;
    top: -200px;
    right: 500px;
  }
  100% {
    width: 300px;
    height: 225px;
    top: 70px;
    right: 10px;
  }
}
@keyframes move_down {
  0% {
    width: 40px;
    height: 30px;
    top: -200px;
    right: 500px;
  }
  100% {
    width: 300px;
    height: 225px;
    top: 70px;
    right: 10px;
  }
}
