@import 'common.scss';
@import "compass/css3";

.comm-head {
  width: 100%;
  min-width: 860px;
  .nav-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    color: #000;
    background-color: #F4F4F2;
    .nav-content {
      width: 90%;
      margin: 0 auto;
    }
    a {
      color: #000;
    }
  }
  .places {
    span {
      padding-right: 10px;
    }
    span:nth-child(2) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .nav-list {
    li {
      float: left;
      padding-left: 20px;
    }
  }
  .mHeader {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    img {
      height: 40px;
    }
    div {
      line-height: 20px;
      padding-top: 10px;
    }
    .search-input {
      width: 240px;
      padding: 6px 20px;
      margin-right: -4px;
      border: 1px solid #ccc;
    }
    .btn-default {
      @include border-radius(0);
      position: relative;
      top: -1px;
    }
  }
  .navGroup {
      width: 85%;
      margin: 0 auto;
      text-align: center;
      .allClassify1 {
        width: 20%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #EF5651;
      }
      a {
        color: #fff;
      }
    .slide-title {
      width: 80%;
      float: left;
      padding-left: 0;
      margin-bottom: 0;
      background-color: #CBAA72;
      li {
        float: left;
        width: 16.67%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }
      a{
        color: #fff;
      }
    }
  }
}
.product-list {
  background-color: #F9F7F1;
  min-width: 860px;
  .field {
    width: 100%;
    margin-top: 50px;
    .item {
      width: 80%;
      margin: 0 auto;
      /*display: table;
      table-layout: fixed;*/
      a{
        display: inline-block;
        color: #333333;
        width: 24%;
        vertical-align: top;
        &:hover{
          text-decoration: none;
        }
        .item-cell {
          width: 80%;
          height: 325px;
          margin: 0 auto 20px;
          padding: 5px;
          border: 1px solid #eeeeee;
          &:hover {
            @include box-shadow(0 0 5px 3px rgba(120,120,120,.1));
          }
          div.img {
            width: 100%;
            height: 146px;
            img {
              display: block;
              width: 100%;
              max-height: 150px;
            }
          }
          h3 {
            font-size: 20px;
            color: #666666;
            height: 25px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          p {
            font-size: 16px;
            height: 45px;
            overflow: hidden;
          }
          .fee {
            font-size: 12px;
            position: relative;
            margin-bottom: 15px;
            .coupon-new{
              display: inline-block;
              color: #EF5651;
              width: 100px;
              height: 25px;
              line-height: 25px;
              text-align: left;
              font-size: 15px;
            }
            .money {
              display: inline-block;
              color: #999999;
              text-decoration: line-through;
              position: absolute;
              right: 3px;
              line-height: 25px;
            }
          }
          .other {
            font-size: 12px;
            position: relative;
            span.grade {
              display: inline-block;
              color: #333333;
            }
            span.sale-num {
              display: inline-block;
              color: #999999;
              position: absolute;
              right: 3px;
            }
          }
        }
      }
    }
  }
}
.comm-footer {
  width: 100%;
  min-width: 860px;
  border-top: 2px solid #F2F2F2;
  padding: 50px 0;
  box-sizing: border-box;
  .others {
    width: 85%;
    margin: 0 auto;
    ul {
      width: 100%;
      display: table;
      li{
        box-sizing: border-box;
        display: table-cell;
        border-left: 2px solid #F2F2F2;
        text-align: center;
        vertical-align: top;
        &:nth-child(5){
          border-right: 2px solid #F2F2F2;
        }
        h4 {
          font-size: 18px;
          color: #666666;
          margin-bottom: 10px;
        }
        a {
          display: block;
          font-size: 12px;
          color: #333333;
          margin-bottom: 10px;
        }
      }
    }
  }
  p {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #333333;
    span {
      display: inline-block;
      margin: 10px;
    }
  }
}
.tishi {
  width: 100%;
  text-align: center;
  img{
    display: block;
    margin: 0 auto;
  }
}