@import 'common.scss';
@import "compass/css3";

html,body {
	height: 100%;
}
.product_detail {
	height: 100%;
	background-color: #F9F7F1;
	.cell-wrap {
		padding-top: 20px;
		margin-top: 20px;
    	border-top: 1px solid #ccc;
    	background-color: #fff;
	}
	.cell {
		width: 80%;
		margin: 0 auto;
	}
	.resName {
		font-size: 20px;
		font-weight: bold;
	}
	.info {
		padding-left: 10px;
	}
	.img-wrap {
		// -moz-box-flex: 1; 
  //   	-webkit-box-flex: 1; 
  //   	box-flex: 1;
		width: 40%;
		float: left;
		height: 260px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.prices {
		//padding: 20px 10px;
		div {
			padding-right: 40px;
		}
		span {
			line-height: 30px;
		}

	}
	.tagName {
		width: 70px;
		color: #999;
		padding-right: 20px;
	}
	.tagCon {
		color: #666;
	}
	.colorF {
		color: #FE6813;
	}
	.date_info {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.h-info {
		//height: 170px;
		// -moz-box-flex: 1; 
  //   	-webkit-box-flex: 1; 
  //   	box-flex: 1;
		width: 55%;
		float: left;
		padding: 10px 20px;
		margin-left: 5%;
		//background-color: #F2F2F2;
		color: #888;
	}
	.newPrice {
		color: #FE6813;
		font-size: 24px;
	}
	.backInfo {
		margin-top: 20px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		.divCell {
			width: 33%;
			height: 50px;
			float: left;
			line-height: 50px;
			text-align: center;
		}
	}
	.add-btn-wrap {
		padding-bottom: 20px;
		span {
			line-height: 35px;
		}
	}
	.add-btn {
		input {
			width: 60px;
			height: 35px;
			text-align: center;
		}
		button {
			width: 30px;
			height: 35px;
			text-align: center;
		}
	}
	.u-info {
		width: 55%;
		float: left;
		margin-left: 5%;
		color: #555;
	}
	.buy-btn-wrap {
		padding-left: 70px;
		button {
			display: block;
			float: left;
			margin-left: 30px;
			padding: 10px 10px;
		}
	}
	.collect-info {
		float: right;
		padding-right: 40px;
		color: #555;
		span {
			display: inline;
			margin-left: 20px;
			color: #ED5852;
			font-size: 26px;
			line-height: 50px;
		}
	}
	.buy-btn {
		display: block;
		float: left;
		font-size: 20px;
		padding: 10px 30px;
		color: #fff;
		background-color: #ED5852;
	}
	.buy-btn:hover {
		background-color: #EF3C35;
	}
	// .add_shopCar {
	// 	display: block;
	//     float: left;
	//     margin-left: 30px;
	//     padding: 10px 10px;	
	//     color: #888;
	//     background-color: #eee;
	//     border: 1px solid #aaa;
	// 	&:hover {
	// 		background-color: #E9E9E9;
	// 		border-color: #888;
	// 	}

	// }
	.left-part {
		width: 70%;
		float: left;
	  .left-cell-info{
		h3 {
		  font-size: 20px;
		  color: #666666;
		  font-weight: bold;
		  margin-bottom: 20px;
		  padding-bottom: 10px;
		  border-bottom: 2px solid #dddddd;
		}
		.pj {
		  .level {
			color: #ED5852;
			font-size: 24px;
			position: relative;
			top: -10px;
		  }
		  .fen {
			position: relative;
			top: -10px;
		  }
		}
		.buy-tip{
		  .tip{
			&:nth-child(1){
			  margin-top: -20px;
			}
			color: #333333;
			border-bottom: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			span{
			  display: inline-block;
			  background: #d5d5d5;
			  font-size: 16px;
			  text-align: center;
			  line-height: 50px;
			  width: 150px;
			  height: 50px;
			}
			p {
			  display: inline-block;
			  font-size: 14px;
			}
		  }
		}
	  }
	}
	.right-part {
		width: 40%;
		float: left;
	}
	.otherPackage-info {
		display: block;
		color: #333;
		padding-bottom: 10px;
		div {
			float: left;
			padding-right: 20px;
		}
		div:first-child {
			color: #FC7D6D;
		}
		div:last-child {
			float: right;
			padding-right: 0;
			color: #C7C6C3;
		}
	}
	.star-light {
		left: 0;
		position: absolute;
		overflow: hidden;
		width: 0;
		.icon-wuxingshixin {
			color: #ED5852;
		}
		.icon-wuxingmian {
			color: #A6A5A5;
		}
	}
	.star-gray {
		width: 80px;
		height: 17px;
		position: relative;
		float: left;
		margin-right: 20px;
		background: url(../images/star-gray.png);
	}
	.star-light,.p-star-light {
		overflow: hidden;
		height: 17px;
		background: url(../images/star-light.png);
	}
	.pj {
		position: relative;
		.satisfaction-rate {
			float: right;
			padding-right: 0;
		}
	}
	.pj-lines {
		padding: 10px 20px 0 20px;
		color: #454544;
		border-bottom: 1px solid #ED5852;
	}
	.pjl-cell {
		width: 90%;
		-moz-box-flex: 1; 
    	-webkit-box-flex: 1; 
    	box-flex: 1;
		text-align: center;
	}
	.lines {
		width: 100%;
		border-left: 1px solid #ED5852;
		border-right: 1px solid #ED5852;
	}
	.line-wrap {
		width: 90%;
		padding-bottom: 10px;
		margin: 0 auto;
		div{
			float: left;
			width: 20%;
		}
		.pj-line {
			width: 60%;
			height: 20px;
			float: left;
			background-color: #ffebd7;
			div {
				height: 20px;
				width: 0;
			 	background-color: #ED5852;
			}
		}
	}
	.all-say-wrap {
		padding-left: 30px;
		padding-bottom: 10px;
		border-bottom: 1px solid #E2E1DF;
		p {
			margin-top: 10px;
		}
	}
	.all-say {
		div {
			@include inline-block;
			padding: 2px 5px;
			margin-right: 20px;
			border: 1px solid #ED5852;
			background-color: #fff;
		}
	}
	.pj-list {
		background-color: #E4E4E4;
		padding: 5px 10px;
		div {
			@include inline-block;
			padding: 5px 10px;
			border-left: 1px solid #CCCCCC;
		}
		div:first-child {
			color: #AE4242;
			border-left: 0;
		}
	}
	.pj-detail {
		padding: 10px 20px;
		border-bottom: 1px solid #E4E3E1;
	}
}
.btn-pj {
	width: 80%;
	display: block;
	padding: 10px 30px;
	margin: 0 auto;
	color: #fff;
	@include border-radius(5px);
	background-color: #ED5852;
}
.modal-body {
	padding: 20px 20px 40px 20px;
}
.info-success {
	h5 {
		font-size: 20px;
		line-height: 30px;
	}
}
.m-btn {
	margin-top: 20px;
	display: inline-block;
    vertical-align: middle;
    padding: 7px 20px 6px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-width: 0 0 1px;
    border-style: solid;
   	@include border-radius(4px);
   	color: #fff;
}
.continue {
	background-color: #2db3a6;
	border-color: #008177;
	margin-right: 20px;
	&:hover {
	    background-color: #2eb7aa;
	    color: #fff;
	}
}
.toCar {
	background-color: #f76120;
    border-color: #da3f02;
	&:hover {
		background-color: #ff8101;
    	border-color: #f76120;
    	color: #fff;
	}
}